{
  "swagger": "2.0",
  "info": {
    "version": "0.1.0",
    "title": "Meraki Dashboard API",
    "description": "The Cisco Meraki Dashboard API is a modern REST API based on the [OpenAPI](https://swagger.io/docs/specification/about/) specification.\n\n## What can the API be used for?\nThe Dashboard API can be used for many purposes. It’s meant to be an open-ended tool. Here are some examples of use cases:\n\n* Add new organizations, admins, networks, devices, VLANs, and more\n* Configure networks at scale\n* Automatically on-board and off-board new employees’ teleworker setups\n* Build your own dashboard for store managers, field techs, or unique use cases\n\n## Enabling the Dashboard API\n1. Begin by logging into [Meraki Dashboard](https://dashboard.meraki.com) and navigating to **Organization > Settings**\n\n2. Locate the section titled **Dashboard API access** and select **Enable Access**, then **Save** your changes\n\n3. After enabling the API, choose your username at the top-right of the Meraki Dashboard and select **my profile**\n\n4. Locate the section titled **Dashboard API access** and select **Generate new API key**\n\n*Note: The API key is associated with a Dashboard administrator account. You can generate, revoke, and regenerate your API key on your profile.*\n\n**Keep your API key safe as it provides authentication to all of your organizations with the API enabled. If your API key is shared, you can regenerate your API key at any time. This will revoke the existing API key.**\n\nCopy and store your API key in a safe place. Dashboard does not store API keys in plaintext for security reasons, so this is the only time you will be able to record it. If you lose or forget your API key, you will have to revoke it and generate a new one.\n\nEvery request must specify an API key via a request header.\n\nThe API key must be specified in the URL header. The API will return a 404 (rather than a 403) in response to a request with a missing or incorrect API key in order to prevent leaking the existence of resources to unauthorized users.\n\n`X-Cisco-Meraki-API-Key: <secret key>`\n\nRead more about API [authorization](../api/#/python/getting-started/authorizing-your-client)\n\n\n## Versioning\nOnce an API version is released, we will make only backwards-compatible changes to it. Backwards-compatible changes include:\n\n* Adding new API resources\n\n* Adding new optional request parameters to existing API methods\n\n* Adding new properties to existing API responses\n\n* Changing the order of properties in existing API responses\n\n## Rate Limit\n* The Dashboard API is limited to **5 calls per second**, per organization.\n* A burst of 5 additional calls are allowed in the first second, so a maximum of 15 calls in the first 2 seconds.\n* The rate limiting technique is based off of the [token bucket model](https://en.wikipedia.org/wiki/Token_bucket).\n* An error with a `429` status code will be returned when the rate limit has been exceeded.\n* Expect to backoff for 1 - 2 seconds if the limit has been exceeded. You may have to wait potentially longer if a large number of requests were made within this timeframe.\n\n\n## Additional Details\nIdentifiers in the API are opaque strings. A `{networkId}`, for example, might be the string “126043”, whereas an `{orderId}` might contain characters, such as “4S1234567”. Client applications must not try to parse them as numbers. Even identifiers that look like numbers might be too long to encode without loss of precision in Javascript, where the only numeric type is IEEE 754 floating point.\n\nVerbs in the API follow the usual REST conventions:\n\n`GET` returns the value of a resource or a list of resources, depending on whether an identifier is specified. For example, a `GET` of `/v0/organizations` returns a list of organizations, whereas a `GET` of `/v0/organizations/{organizationId}` returns a particular organization.\n\n`POST` adds a new resource, as in a `POST` to `/v0/organizations/{organizationId}/admins`, or performs some other non-idempotent change.\n\n`PUT` updates a resource. `PUTs` are idempotent; they update a resource, creating it first if it does not already exist. A `PUT` should specify all the fields of a resource; the API will revert omitted fields to their default value.\n\n`DELETE` removes a resource.\n",
    "contact": {
      "url": "https://create.meraki.io"
    }
  },
  "host": "api.meraki.com",
  "basePath": "/api/v0",
  "securityDefinitions": {
    "Cisco-Meraki-API-Key": {
      "type": "apiKey",
      "description": "Demo DevNet Sandbox",
      "name": "X-Cisco-Meraki-API-Key",
      "in": "header"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/organizations/{organizationId}/actionBatches/{id}": {
      "delete": {
        "description": "Delete an action batch",
        "summary": "deleteOrganizationActionBatch",
        "tags": [
          "Action batches"
        ],
        "operationId": "OrganizationsActionBatchesByOrganizationIdAndIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {}
          }
        }
      },
      "get": {
        "description": "Return an action batch",
        "summary": "getOrganizationActionBatch",
        "tags": [
          "Action batches"
        ],
        "operationId": "OrganizationsActionBatchesByOrganizationIdAndIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"id\": \"123\",\r\n  \"status\": \"in progress\",\r\n  \"confirmed\": true,\r\n  \"synchronous\": false,\r\n  \"actions\": [\r\n    {\r\n      \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\r\n      \"operation\": \"update\",\r\n      \"body\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  ]\r\n}"
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update an action batch",
        "summary": "updateOrganizationActionBatch",
        "tags": [
          "Action batches"
        ],
        "operationId": "OrganizationsActionBatchesByOrganizationIdAndIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "updateOrganizationActionBatch",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/updateOrganizationActionBatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"id\": \"123\",\r\n  \"status\": \"in progress\",\r\n  \"confirmed\": true,\r\n  \"synchronous\": false,\r\n  \"actions\": [\r\n    {\r\n      \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\r\n      \"operation\": \"update\",\r\n      \"body\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  ]\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/actionBatches": {
      "get": {
        "description": "Return the list of action batches in the organization",
        "summary": "getOrganizationActionBatches",
        "tags": [
          "Action batches"
        ],
        "operationId": "OrganizationsActionBatchesByOrganizationIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"id\": \"123\",\r\n    \"status\": \"in progress\",\r\n    \"confirmed\": true,\r\n    \"synchronous\": false,\r\n    \"actions\": [\r\n      {\r\n        \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\r\n        \"operation\": \"update\",\r\n        \"body\": {\r\n          \"enabled\": false\r\n        }\r\n      }\r\n    ]\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      },
      "post": {
        "description": "Create an action batch",
        "summary": "createOrganizationActionBatch",
        "tags": [
          "Action batches"
        ],
        "operationId": "OrganizationsActionBatchesByOrganizationIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "createOrganizationActionBatch",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/createOrganizationActionBatch"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"id\": \"123\",\r\n  \"status\": \"in progress\",\r\n  \"confirmed\": true,\r\n  \"synchronous\": false,\r\n  \"actions\": [\r\n    {\r\n      \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\r\n      \"operation\": \"update\",\r\n      \"body\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  ]\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/admins/{id}": {
      "delete": {
        "description": "Revoke all access for a dashboard administrator within this organization",
        "summary": "deleteOrganizationAdmin",
        "tags": [
          "Admins"
        ],
        "operationId": "OrganizationsAdminsByOrganizationIdAndIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation",
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update an administrator",
        "summary": "updateOrganizationAdmin",
        "tags": [
          "Admins"
        ],
        "operationId": "OrganizationsAdminsByOrganizationIdAndIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "updateOrganizationAdmin",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/updateOrganizationAdmin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"id\": \"212406\",\r\n  \"name\": \"Miles Meraki\",\r\n  \"email\": \"miles@meraki.com\",\r\n  \"orgAccess\": \"none\",\r\n  \"accountStatus\": \"ok\",\r\n  \"twoFactorAuthEnabled\": false,\r\n  \"hasApiKey\": true,\r\n  \"lastActive\": \"2019-01-28 14:58:56 -0800\",\r\n  \"tags\": [\r\n    {\r\n      \"tag\": \"west\",\r\n      \"access\": \"read-only\"\r\n    }\r\n  ],\r\n  \"networks\": [\r\n    {\r\n      \"id\": \"N_24329156\",\r\n      \"access\": \"full\"\r\n    }\r\n  ]\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/admins": {
      "post": {
        "description": "Create a new dashboard administrator",
        "summary": "createOrganizationAdmin",
        "tags": [
          "Admins"
        ],
        "operationId": "OrganizationsAdminsByOrganizationIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "createOrganizationAdmin",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createOrganizationAdmin"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"id\": \"212406\",\r\n  \"name\": \"Miles Meraki\",\r\n  \"email\": \"miles@meraki.com\",\r\n  \"orgAccess\": \"none\",\r\n  \"accountStatus\": \"ok\",\r\n  \"twoFactorAuthEnabled\": false,\r\n  \"hasApiKey\": true,\r\n  \"lastActive\": \"2019-01-28 14:58:56 -0800\",\r\n  \"tags\": [\r\n    {\r\n      \"tag\": \"west\",\r\n      \"access\": \"read-only\"\r\n    }\r\n  ],\r\n  \"networks\": [\r\n    {\r\n      \"id\": \"N_24329156\",\r\n      \"access\": \"full\"\r\n    }\r\n  ]\r\n}"
            },
            "headers": {}
          }
        }
      },
      "get": {
        "description": "List the dashboard administrators in this organization",
        "summary": "getOrganizationAdmins",
        "tags": [
          "Admins"
        ],
        "operationId": "OrganizationsAdminsByOrganizationIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"id\": \"212406\",\r\n    \"name\": \"Miles Meraki\",\r\n    \"email\": \"miles@meraki.com\",\r\n    \"orgAccess\": \"none\",\r\n    \"accountStatus\": \"ok\",\r\n    \"twoFactorAuthEnabled\": false,\r\n    \"hasApiKey\": true,\r\n    \"lastActive\": \"2019-01-28 14:58:56 -0800\",\r\n    \"tags\": [\r\n      {\r\n        \"tag\": \"west\",\r\n        \"access\": \"read-only\"\r\n      }\r\n    ],\r\n    \"networks\": [\r\n      {\r\n        \"id\": \"N_24329156\",\r\n        \"access\": \"full\"\r\n      }\r\n    ]\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/alertSettings": {
      "get": {
        "description": "Return the alert configuration for this network",
        "summary": "getNetworkAlertSettings",
        "tags": [
          "Alert settings"
        ],
        "operationId": "NetworksAlertSettingsByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"defaultDestinations\": {\r\n    \"emails\": [\r\n      \"miles@meraki.com\"\r\n    ],\r\n    \"allAdmins\": true,\r\n    \"snmp\": true\r\n  },\r\n  \"alerts\": [\r\n    {\r\n      \"type\": \"gatewayDown\",\r\n      \"enabled\": true,\r\n      \"alertDestinations\": {\r\n        \"emails\": [\r\n          \"miles@meraki.com\"\r\n        ],\r\n        \"allAdmins\": false,\r\n        \"snmp\": false\r\n      },\r\n      \"filters\": {\r\n        \"timeout\": 60\r\n      }\r\n    }\r\n  ]\r\n}"
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update the alert configuration for this network",
        "summary": "updateNetworkAlertSettings",
        "tags": [
          "Alert settings"
        ],
        "operationId": "NetworksAlertSettingsByNetworkIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "updateNetworkAlertSettings",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/updateNetworkAlertSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"defaultDestinations\": {\r\n    \"emails\": [\r\n      \"miles@meraki.com\"\r\n    ],\r\n    \"allAdmins\": true,\r\n    \"snmp\": true\r\n  },\r\n  \"alerts\": [\r\n    {\r\n      \"type\": \"gatewayDown\",\r\n      \"enabled\": true,\r\n      \"alertDestinations\": {\r\n        \"emails\": [\r\n          \"miles@meraki.com\"\r\n        ],\r\n        \"allAdmins\": false,\r\n        \"snmp\": false\r\n      },\r\n      \"filters\": {\r\n        \"timeout\": 60\r\n      }\r\n    }\r\n  ]\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/devices/{serial}/camera/analytics/live": {
      "get": {
        "description": "Returns live state from camera of analytics zones",
        "summary": "getDeviceCameraAnalyticsLive",
        "tags": [
          "MV Sense"
        ],
        "operationId": "DevicesCameraAnalyticsLiveBySerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"ts\": \"2018-08-15T18:32:38.123Z\",\r\n  \"zones\": {\r\n    \"0\": {\r\n      \"person\": 0\r\n    }\r\n  }\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/devices/{serial}/camera/analytics/recent": {
      "get": {
        "description": "Returns most recent record for analytics zones",
        "summary": "getDeviceCameraAnalyticsRecent",
        "tags": [
          "MV Sense"
        ],
        "operationId": "DevicesCameraAnalyticsRecentBySerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"startTs\": \"2018-08-15T18:32:38.123Z\",\r\n    \"endTs\": \"2018-08-15T18:33:38.123Z\",\r\n    \"zoneId\": 0,\r\n    \"entrances\": 10,\r\n    \"averageCount\": 2.54\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/devices/{serial}/camera/analytics/zones": {
      "get": {
        "description": "Returns all configured analytic zones for this camera",
        "summary": "getDeviceCameraAnalyticsZones",
        "tags": [
          "MV Sense"
        ],
        "operationId": "DevicesCameraAnalyticsZonesBySerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"id\": \"0\",\r\n    \"type\": \"occupancy\",\r\n    \"label\": \"Full Frame\"\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/devices/{serial}/camera/analytics/zones/{zoneId}/history": {
      "get": {
        "description": "Return historical records for analytic zones",
        "summary": "getDeviceCameraAnalyticsZoneHistory",
        "tags": [
          "MV Sense"
        ],
        "operationId": "DevicesCameraAnalyticsZonesHistoryBySerialAndZoneIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 365 days from today."
          },
          {
            "name": "t1",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end of the timespan for the data. t1 can be a maximum of 14 hours after t0."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 14 hours. The default is 1 hour."
          },
          {
            "name": "resolution",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The time resolution in seconds for returned data. The valid resolutions are: 60. The default is 60."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"startTs\": \"2018-08-15T18:32:38.123Z\",\r\n    \"endTs\": \"2018-08-15T18:33:38.123Z\",\r\n    \"entrances\": 5,\r\n    \"averageCount\": 1.5\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/devices/{serial}/camera/analytics/overview": {
      "get": {
        "description": "Returns an overview of aggregate analytics data for a timespan",
        "summary": "getDeviceCameraAnalyticsOverview",
        "tags": [
          "MV Sense"
        ],
        "operationId": "DevicesCameraAnalyticsOverviewBySerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 365 days from today."
          },
          {
            "name": "t1",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end of the timespan for the data. t1 can be a maximum of 7 days after t0."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 1 hour."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"startTs\": \"2018-08-15T18:32:38.123Z\",\r\n    \"endTs\": \"2018-08-15T18:33:38.123Z\",\r\n    \"zoneId\": 0,\r\n    \"entrances\": 254,\r\n    \"averageCount\": 5\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/apiRequests": {
      "get": {
        "description": "List the API requests made by an organization",
        "summary": "getOrganizationApiRequests",
        "tags": [
          "API usage"
        ],
        "operationId": "OrganizationsApiRequestsByOrganizationIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "name": "t1",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end of the timespan for the data. t1 can be a maximum of 31 days after t0."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 31 days."
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of entries per page returned. Acceptable range is 3 - 1000. Default is 50."
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "adminId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the results by the ID of the admin who made the API requests"
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the results by the path of the API requests"
          },
          {
            "name": "method",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the results by the method of the API requests (must be 'GET', 'PUT', 'POST' or 'DELETE')"
          },
          {
            "name": "responseCode",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Filter the results by the response code of the API requests"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"adminId\": \"212406\",\r\n    \"method\": \"GET\",\r\n    \"host\": \"api.meraki.com\",\r\n    \"path\": \"/api/v0/organizations/33349/apiRequests\",\r\n    \"queryString\": \"timespan=604800\",\r\n    \"userAgent\": \"PostmanRuntime/7.6.0\",\r\n    \"ts\": \"2019-02-20T17:31:23Z\",\r\n    \"responseCode\": 200\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/bluetoothClients": {
      "get": {
        "description": "List the Bluetooth clients seen by APs in this network",
        "summary": "getNetworkBluetoothClients",
        "tags": [
          "Bluetooth clients"
        ],
        "operationId": "NetworksBluetoothClientsByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of entries per page returned. Acceptable range is 5 - 1000. Default is 10."
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The timespan, in seconds, used to look back from now for bluetooth clients"
          },
          {
            "name": "includeConnectivityHistory",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Include the connectivity history for this client"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"mac\": \"00:11:22:33:44:55\",\r\n    \"networkId\": \"N_24329156\"\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/bluetoothClients/{bluetoothClientId}": {
      "get": {
        "description": "Return a Bluetooth client. Bluetooth clients can be identified by their ID or their MAC.",
        "summary": "getNetworkBluetoothClient",
        "tags": [
          "Bluetooth clients"
        ],
        "operationId": "NetworksBluetoothClientsByNetworkIdAndBluetoothClientIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bluetoothClientId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeConnectivityHistory",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Include the connectivity history for this client"
          },
          {
            "name": "connectivityHistoryTimespan",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The timespan, in seconds, for the connectivityHistory data. By default 1 day, 86400, will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"networkId\": \"N_24329156\"\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}": {
      "get": {
        "description": "Return a network",
        "summary": "getNetwork",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"id\": \"L_123456\",\r\n  \"organizationId\": 2930418,\r\n  \"name\": \"Long Island Office\",\r\n  \"timeZone\": \"America/Los_Angeles\",\r\n  \"tags\": \" tag1 tag2 \",\r\n  \"type\": \"combined\",\r\n  \"disableMyMerakiCom\": false\r\n}"
            },
            "headers": {}
          }
        }
      },
      "delete": {
        "description": "Delete a network",
        "summary": "deleteNetwork",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksByNetworkIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation",
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update a network",
        "summary": "updateNetwork",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksByNetworkIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "updateNetwork",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/updateNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"id\": \"L_123456\",\r\n  \"organizationId\": 2930418,\r\n  \"name\": \"Long Island Office\",\r\n  \"timeZone\": \"America/Los_Angeles\",\r\n  \"tags\": \" tag1 tag2 \",\r\n  \"type\": \"combined\",\r\n  \"disableMyMerakiCom\": false\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/networks": {
      "post": {
        "description": "Create a network",
        "summary": "createOrganizationNetwork",
        "tags": [
          "Networks"
        ],
        "operationId": "OrganizationsNetworksByOrganizationIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "createOrganizationNetwork",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createOrganizationNetwork"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"id\": \"L_123456\",\r\n  \"organizationId\": 2930418,\r\n  \"name\": \"Long Island Office\",\r\n  \"timeZone\": \"America/Los_Angeles\",\r\n  \"tags\": \" tag1 tag2 \",\r\n  \"type\": \"combined\",\r\n  \"disableMyMerakiCom\": false\r\n}"
            },
            "headers": {}
          }
        }
      },
      "get": {
        "description": "List the networks in an organization",
        "summary": "getOrganizationNetworks",
        "tags": [
          "Networks"
        ],
        "operationId": "OrganizationsNetworksByOrganizationIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "configTemplateId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An optional parameter that is the ID of a config template. Will return all networks bound to that template."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"id\": \"L_123456\",\r\n    \"organizationId\": 2930418,\r\n    \"name\": \"Long Island Office\",\r\n    \"timeZone\": \"America/Los_Angeles\",\r\n    \"tags\": \" tag1 tag2 \",\r\n    \"type\": \"combined\",\r\n    \"disableMyMerakiCom\": false\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/bluetoothSettings": {
      "put": {
        "description": "Update the Bluetooth settings for a network. See the docs page for <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a>.",
        "summary": "updateNetworkBluetoothSettings",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksBluetoothSettingsByNetworkIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "updateNetworkBluetoothSettings",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/updateNetworkBluetoothSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"scanningEnabled\": true,\r\n  \"advertisingEnabled\": true,\r\n  \"uuid\": \"00000000-0000-0000-000-000000000000\",\r\n  \"majorMinorAssignmentMode\": \"Non-unique\",\r\n  \"major\": 1\r\n}"
            },
            "headers": {}
          }
        }
      },
      "get": {
        "description": "Return the Bluetooth settings for a network. <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a> must be enabled on the network.",
        "summary": "getNetworkBluetoothSettings",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksBluetoothSettingsByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"scanningEnabled\": true,\r\n  \"advertisingEnabled\": true,\r\n  \"uuid\": \"00000000-0000-0000-000-000000000000\",\r\n  \"majorMinorAssignmentMode\": \"Non-unique\",\r\n  \"major\": 1\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/siteToSiteVpn": {
      "put": {
        "description": "Update the site-to-site VPN settings of a network. Only valid for MX networks in NAT mode.",
        "summary": "updateNetworkSiteToSiteVpn",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksSiteToSiteVpnByNetworkIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "updateNetworkSiteToSiteVpn",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/updateNetworkSiteToSiteVpn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"mode\": \"spoke\",\r\n  \"hubs\": [\r\n    {\r\n      \"hubId\": \"N_4901849\",\r\n      \"useDefaultRoute\": true\r\n    },\r\n    {\r\n      \"hubId\": \"N_1892489\",\r\n      \"useDefaultRoute\": false\r\n    }\r\n  ],\r\n  \"subnets\": [\r\n    {\r\n      \"localSubnet\": \"192.168.1.0/24\",\r\n      \"useVpn\": true\r\n    },\r\n    {\r\n      \"localSubnet\": \"192.168.128.0/24\",\r\n      \"useVpn\": true\r\n    }\r\n  ]\r\n}"
            },
            "headers": {}
          }
        }
      },
      "get": {
        "description": "Return the site-to-site VPN settings of a network. Only valid for MX networks.",
        "summary": "getNetworkSiteToSiteVpn",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksSiteToSiteVpnByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"mode\": \"spoke\",\r\n  \"hubs\": [\r\n    {\r\n      \"hubId\": \"N_4901849\",\r\n      \"useDefaultRoute\": true\r\n    },\r\n    {\r\n      \"hubId\": \"N_1892489\",\r\n      \"useDefaultRoute\": false\r\n    }\r\n  ],\r\n  \"subnets\": [\r\n    {\r\n      \"localSubnet\": \"192.168.1.0/24\",\r\n      \"useVpn\": true\r\n    },\r\n    {\r\n      \"localSubnet\": \"192.168.128.0/24\",\r\n      \"useVpn\": true\r\n    }\r\n  ]\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/split": {
      "post": {
        "description": "Split a combined network into individual networks for each type of device",
        "summary": "splitNetwork",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksSplitByNetworkIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"resultingNetworks\": [\r\n    {\r\n      \"id\": \"N_1234\",\r\n      \"organizationId\": 2930418,\r\n      \"name\": \"Long Island Office - switch\",\r\n      \"timeZone\": \"America/Los_Angeles\",\r\n      \"tags\": \" tag1 tag2 \",\r\n      \"type\": \"switch\",\r\n      \"disableMyMerakiCom\": false\r\n    },\r\n    {\r\n      \"id\": \"N_5678\",\r\n      \"organizationId\": 2930418,\r\n      \"name\": \"Long Island Office - wireless\",\r\n      \"timeZone\": \"America/Los_Angeles\",\r\n      \"tags\": \" tag1 tag2 \",\r\n      \"type\": \"wireless\",\r\n      \"disableMyMerakiCom\": false\r\n    }\r\n  ]\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/networks/combine": {
      "post": {
        "description": "Combine multiple networks into a single network",
        "summary": "combineOrganizationNetworks",
        "tags": [
          "Networks"
        ],
        "operationId": "OrganizationsNetworksCombineByOrganizationIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "combineOrganizationNetworks",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/combineOrganizationNetworks"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"resultingNetwork\": {\r\n    \"id\": \"L_123456\",\r\n    \"organizationId\": 2930418,\r\n    \"name\": \"Long Island Office\",\r\n    \"timeZone\": \"America/Los_Angeles\",\r\n    \"tags\": \" tag1 tag2 \",\r\n    \"type\": \"combined\",\r\n    \"disableMyMerakiCom\": false\r\n  }\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/accessPolicies": {
      "get": {
        "description": "List the access policies for this network. Only valid for MS networks.",
        "summary": "getNetworkAccessPolicies",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksAccessPoliciesByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"number\": 1,\r\n    \"name\": \"My access policy\",\r\n    \"accessType\": \"8021.x\",\r\n    \"guestVlan\": 3700,\r\n    \"radiusServers\": [\r\n      {\r\n        \"ip\": \"1.2.3.4\",\r\n        \"port\": 1337\r\n      },\r\n      {\r\n        \"ip\": \"2.3.4.5\",\r\n        \"port\": 1337\r\n      }\r\n    ]\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/unbind": {
      "post": {
        "description": "Unbind a network from a template.",
        "summary": "unbindNetwork",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksUnbindByNetworkIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/bind": {
      "post": {
        "description": "Bind a network to a template.",
        "summary": "bindNetwork",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksBindByNetworkIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bindNetwork",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/bindNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/airMarshal": {
      "get": {
        "description": "List Air Marshal scan results from a network",
        "summary": "getNetworkAirMarshal",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksAirMarshalByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 7 days."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"ssid\": \"linksys\",\r\n    \"bssids\": [\r\n      {\r\n        \"bssid\": \"00:11:22:33:44:55\",\r\n        \"contained\": false,\r\n        \"detectedBy\": [\r\n          {\r\n            \"device\": \"Q234-ABCD-5678\",\r\n            \"rssi\": 17\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"channels\": [\r\n      36,\r\n      40\r\n    ],\r\n    \"firstSeen\": 1518365681,\r\n    \"lastSeen\": 1526087474,\r\n    \"wiredMacs\": [\r\n      \"00:11:22:33:44:55\"\r\n    ],\r\n    \"wiredVlans\": [\r\n      0,\r\n      108\r\n    ],\r\n    \"wiredLastSeen\": 1526087474\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/traffic": {
      "get": {
        "description": "The traffic analysis data for this network.\n<a href=\"https://documentation.meraki.com/MR/Monitoring_and_Reporting/Hostname_Visibility\">Traffic Analysis with Hostname Visibility</a> must be enabled on the network.\n",
        "summary": "getNetworkTraffic",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksTrafficByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "timespan",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The timespan for the data. Must be an integer representing a duration in seconds between two hours and one month. (Mandatory.)"
          },
          {
            "name": "deviceType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the data by device type: combined (default), wireless, switch, appliance. When using combined, for each rule the data will come from the device type with the most usage."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"application\": \"Gmail\",\r\n    \"destination\": null,\r\n    \"protocol\": \"TCP\",\r\n    \"port\": 443,\r\n    \"sent\": 138.0,\r\n    \"recv\": 61.0,\r\n    \"numClients\": 7,\r\n    \"activeTime\": 77000,\r\n    \"flows\": 300\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/cameras/{serial}/snapshot": {
      "post": {
        "description": "Generate a snapshot of what the camera sees at the specified time and return a link to that image.",
        "summary": "generateNetworkCameraSnapshot",
        "tags": [
          "Cameras"
        ],
        "operationId": "NetworksCamerasSnapshotByNetworkIdAndSerialPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "generateNetworkCameraSnapshot",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/generateNetworkCameraSnapshot"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"url\": \"https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2\",\r\n  \"expiry\": \"Access to the image will expire at 2018-12-11T03:12:39Z.\"\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/cameras/{serial}/videoLink": {
      "get": {
        "description": "Returns video link for the specified camera. If a timestamp supplied, it links to that time.",
        "summary": "getNetworkCameraVideoLink",
        "tags": [
          "Cameras"
        ],
        "operationId": "NetworksCamerasVideoLinkByNetworkIdAndSerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"url\": \"https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077\"\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{clientId}/latencyHistory": {
      "get": {
        "description": "Return the latency history for a client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background, best effort, video, voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds.",
        "summary": "getNetworkClientLatencyHistory",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsLatencyHistoryByNetworkIdAndClientIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 791 days from today."
          },
          {
            "name": "t1",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end of the timespan for the data. t1 can be a maximum of 791 days after t0."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 791 days. The default is 1 day."
          },
          {
            "name": "resolution",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The time resolution in seconds for returned data. The valid resolutions are: 86400. The default is 86400."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"t0\": 1550534400,\r\n    \"t1\": 1550620800,\r\n    \"latencyBinsByCategory\": {\r\n      \"backgroundTraffic\": {\r\n        \"0.5\": 41750,\r\n        \"1.0\": 21552,\r\n        \"2.0\": 59940,\r\n        \"4.0\": 146622,\r\n        \"8.0\": 57354,\r\n        \"16.0\": 0,\r\n        \"32.0\": 9954,\r\n        \"64.0\": 0,\r\n        \"128.0\": 0,\r\n        \"256.0\": 1896,\r\n        \"512.0\": 0,\r\n        \"1024.0\": 0,\r\n        \"2048.0\": 0\r\n      },\r\n      \"bestEffortTraffic\": {\r\n        \"0.5\": 1840899,\r\n        \"1.0\": 1644506,\r\n        \"2.0\": 629958,\r\n        \"4.0\": 449564,\r\n        \"8.0\": 2009658,\r\n        \"16.0\": 1329568,\r\n        \"32.0\": 282168,\r\n        \"64.0\": 97573,\r\n        \"128.0\": 191977,\r\n        \"256.0\": 30560,\r\n        \"512.0\": 26032,\r\n        \"1024.0\": 4943,\r\n        \"2048.0\": 12072\r\n      },\r\n      \"videoTraffic\": {\r\n        \"0.5\": 0,\r\n        \"1.0\": 0,\r\n        \"2.0\": 0,\r\n        \"4.0\": 0,\r\n        \"8.0\": 0,\r\n        \"16.0\": 0,\r\n        \"32.0\": 0,\r\n        \"64.0\": 0,\r\n        \"128.0\": 0,\r\n        \"256.0\": 0,\r\n        \"512.0\": 0,\r\n        \"1024.0\": 0,\r\n        \"2048.0\": 0\r\n      },\r\n      \"voiceTraffic\": {\r\n        \"0.5\": 716,\r\n        \"1.0\": 948,\r\n        \"2.0\": 474,\r\n        \"4.0\": 78,\r\n        \"8.0\": 0,\r\n        \"16.0\": 0,\r\n        \"32.0\": 0,\r\n        \"64.0\": 0,\r\n        \"128.0\": 0,\r\n        \"256.0\": 0,\r\n        \"512.0\": 0,\r\n        \"1024.0\": 0,\r\n        \"2048.0\": 0\r\n      }\r\n    }\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients": {
      "get": {
        "description": "List the clients that have used this network in the timespan",
        "summary": "getNetworkClients",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of entries per page returned. Acceptable range is 3 - 1000. Default is 10."
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"usage\": {\r\n    \"sent\": 138.0,\r\n    \"recv\": 61.0\r\n  },\r\n  \"id\": \"k74272e\",\r\n  \"description\": \"Miles's phone\",\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"ip\": \"1.2.3.4\",\r\n  \"user\": \"milesmeraki\",\r\n  \"vlan\": 255,\r\n  \"switchport\": null,\r\n  \"ip6\": \"\",\r\n  \"firstSeen\": 1518365681,\r\n  \"lastSeen\": 1526087474,\r\n  \"manufacturer\": \"Apple\",\r\n  \"os\": \"iOS\"\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{clientId}/splashAuthorizationStatus": {
      "get": {
        "description": "Return the splash authorization for a client, for each SSID they've associated with through splash. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "summary": "getNetworkClientSplashAuthorizationStatus",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsSplashAuthorizationStatusByNetworkIdAndClientIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"ssids\": {\r\n    \"0\": {\r\n      \"isAuthorized\": true,\r\n      \"authorizedAt\": \"2017-07-19 16:24:13 UTC\",\r\n      \"expiresAt\": \"2017-07-20 16:24:13 UTC\"\r\n    },\r\n    \"2\": {\r\n      \"isAuthorized\": false\r\n    }\r\n  }\r\n}"
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update a client's splash authorization. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "summary": "updateNetworkClientSplashAuthorizationStatus",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsSplashAuthorizationStatusByNetworkIdAndClientIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "updateNetworkClientSplashAuthorizationStatus",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/updateNetworkClientSplashAuthorizationStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"ssids\": {\r\n    \"0\": {\r\n      \"isAuthorized\": true,\r\n      \"authorizedAt\": \"2017-07-19 16:24:13 UTC\",\r\n      \"expiresAt\": \"2017-07-20 16:24:13 UTC\"\r\n    },\r\n    \"2\": {\r\n      \"isAuthorized\": false\r\n    }\r\n  }\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{clientId}/policy": {
      "get": {
        "description": "Return the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "summary": "getNetworkClientPolicy",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsPolicyByNetworkIdAndClientIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"type\": \"Group policy\",\r\n  \"groupPolicyId\": \"101\"\r\n}"
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "summary": "updateNetworkClientPolicy",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsPolicyByNetworkIdAndClientIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "updateNetworkClientPolicy",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/updateNetworkClientPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"type\": \"Group policy\",\r\n  \"groupPolicyId\": \"101\"\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{clientId}/usageHistory": {
      "get": {
        "description": "Return the client's daily usage history. Usage data is in kilobytes. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "summary": "getNetworkClientUsageHistory",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsUsageHistoryByNetworkIdAndClientIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"sent\": 500,\r\n    \"received\": 680,\r\n    \"ts\": 1518365681\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/provision": {
      "post": {
        "description": "Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.",
        "summary": "provisionNetworkClients",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsProvisionByNetworkIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provisionNetworkClients",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/provisionNetworkClients"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"clientId\": \"k74272e\",\r\n  \"name\": \"Miles's phone\",\r\n  \"devicePolicy\": \"Group policy\",\r\n  \"groupPolicyId\": \"101\"\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{clientId}/events": {
      "get": {
        "description": "Return the events associated with this client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "summary": "getNetworkClientEvents",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsEventsByNetworkIdAndClientIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of entries per page returned. Acceptable range is 3 - 100. Default is 100."
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"deviceSerial\": \"Q234-ABCD-5678\",\r\n    \"occurredAt\": 1518365681,\r\n    \"type\": \"l3roaming_assoc_start\",\r\n    \"details\": {\r\n      \"vap\": \"1\",\r\n      \"on_packet\": \"true\"\r\n    }\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{clientId}/trafficHistory": {
      "get": {
        "description": "Return the client's network traffic data over time. Usage data is in kilobytes. This endpoint requires detailed traffic analysis to be enabled on the Network-wide > General page. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "summary": "getNetworkClientTrafficHistory",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsTrafficHistoryByNetworkIdAndClientIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of entries per page returned. Acceptable range is 3 - 1000."
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"ts\": 1518365681,\r\n    \"application\": \"Google\",\r\n    \"destination\": \"www.google.com\",\r\n    \"protocol\": \"UDP\",\r\n    \"port\": 443,\r\n    \"recv\": 383,\r\n    \"sent\": 56,\r\n    \"numFlows\": 5,\r\n    \"activeSeconds\": 240\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/devices/{serial}/clients": {
      "get": {
        "description": "List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.",
        "summary": "getDeviceClients",
        "tags": [
          "Clients"
        ],
        "operationId": "DevicesClientsBySerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"usage\": {\r\n    \"sent\": 138.0,\r\n    \"recv\": 61.0\r\n  },\r\n  \"id\": \"k74272e\",\r\n  \"description\": \"Miles's phone\",\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"ip\": \"1.2.3.4\",\r\n  \"user\": \"milesmeraki\",\r\n  \"vlan\": 255,\r\n  \"switchport\": null,\r\n  \"mdnsName\": \"Miles's phone\",\r\n  \"dhcpHostname\": \"MilesPhone\"\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{clientId}": {
      "get": {
        "description": "Return the client associated with the given identifier. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "summary": "getNetworkClient",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsByNetworkIdAndClientIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"id\": \"k74272e\",\r\n  \"description\": \"Miles's phone\",\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"ip\": \"1.2.3.4\",\r\n  \"user\": \"null\",\r\n  \"vlan\": \"255\",\r\n  \"switchport\": null,\r\n  \"ip6\": \"\",\r\n  \"firstSeen\": 1518365681,\r\n  \"lastSeen\": 1526087474,\r\n  \"manufacturer\": \"Apple\",\r\n  \"os\": \"iOS\",\r\n  \"ssid\": \"My SSID\",\r\n  \"wirelessCapabilities\": \"802.11ac - 2.4 and 5 GHz\",\r\n  \"smInstalled\": true,\r\n  \"recentDeviceMac\": \"00:11:22:33:44:55\",\r\n  \"clientVpnConnections\": [\r\n    {\r\n      \"remoteIp\": \"1.2.3.4\",\r\n      \"connectedAt\": 1522613355,\r\n      \"disconnectedAt\": 1522613360\r\n    }\r\n  ],\r\n  \"lldp\": [\r\n    [\r\n      \"System name\",\r\n      \"Some system name\"\r\n    ],\r\n    [\r\n      \"System description\",\r\n      \"Some system description\"\r\n    ],\r\n    [\r\n      \"Port ID\",\r\n      \"1\"\r\n    ],\r\n    [\r\n      \"Chassis ID\",\r\n      \"00:18:0a:00:00:00\"\r\n    ],\r\n    [\r\n      \"Port description\",\r\n      \"eth0\"\r\n    ],\r\n    [\r\n      \"System capabilities\",\r\n      \"Two-port MAC Relay\"\r\n    ]\r\n  ],\r\n  \"cdp\": null\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/configTemplates/{id}": {
      "delete": {
        "description": "Remove a configuration template",
        "summary": "deleteOrganizationConfigTemplate",
        "tags": [
          "Config templates"
        ],
        "operationId": "OrganizationsConfigTemplatesByOrganizationIdAndIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/configTemplates": {
      "get": {
        "description": "List the configuration templates for this organization",
        "summary": "getOrganizationConfigTemplates",
        "tags": [
          "Config templates"
        ],
        "operationId": "OrganizationsConfigTemplatesByOrganizationIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"id\": \"N_24329156\",\r\n    \"name\": \"My config template\"\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/devices/{serial}/blinkLeds": {
      "post": {
        "description": "Blink the LEDs on a device",
        "summary": "blinkNetworkDeviceLeds",
        "tags": [
          "Devices"
        ],
        "operationId": "NetworksDevicesBlinkLedsByNetworkIdAndSerialPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "blinkNetworkDeviceLeds",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/blinkNetworkDeviceLeds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"sentToDevice\": true\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/devices/{serial}/reboot": {
      "post": {
        "description": "Reboot a device",
        "summary": "rebootNetworkDevice",
        "tags": [
          "Devices"
        ],
        "operationId": "NetworksDevicesRebootByNetworkIdAndSerialPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"success\": true\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/devices/{serial}/remove": {
      "post": {
        "description": "Remove a single device",
        "summary": "removeNetworkDevice",
        "tags": [
          "Devices"
        ],
        "operationId": "NetworksDevicesRemoveByNetworkIdAndSerialPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/devices/claim": {
      "post": {
        "description": "Claim a device into a network",
        "summary": "claimNetworkDevices",
        "tags": [
          "Devices"
        ],
        "operationId": "NetworksDevicesClaimByNetworkIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "claimNetworkDevices",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/claimNetworkDevices"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/devices/{serial}/uplink": {
      "get": {
        "description": "Return the uplink information for a device.",
        "summary": "getNetworkDeviceUplink",
        "tags": [
          "Devices"
        ],
        "operationId": "NetworksDevicesUplinkByNetworkIdAndSerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "[\r\n  {\r\n    \"interface\": \"WAN 1\",\r\n    \"status\": \"Active\",\r\n    \"ip\": \"1.2.3.4\",\r\n    \"gateway\": \"1.2.3.5\",\r\n    \"publicIp\": \"123.123.123.1\",\r\n    \"dns\": \"8.8.8.8, 8.8.4.4\",\r\n    \"usingStaticIp\": false\r\n  }\r\n]"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/devices/{serial}/performance": {
      "get": {
        "description": "Return the performance score for a single device. Only primary MX devices supported. If no data is available, a 204 error code is returned.",
        "summary": "getNetworkDevicePerformance",
        "tags": [
          "Devices"
        ],
        "operationId": "NetworksDevicesPerformanceByNetworkIdAndSerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"perfScore\": 10\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/devices/{serial}": {
      "get": {
        "description": "Return a single device",
        "summary": "getNetworkDevice",
        "tags": [
          "Devices"
        ],
        "operationId": "NetworksDevicesByNetworkIdAndSerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"name\": \"My AP\",\r\n  \"lat\": 37.4180951010362,\r\n  \"lng\": -122.098531723022,\r\n  \"serial\": \"Q234-ABCD-5678\",\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"model\": \"MR34\",\r\n  \"address\": \"1600 Pennsylvania Ave\",\r\n  \"notes\": \"My AP's note\",\r\n  \"lanIp\": \"1.2.3.4\",\r\n  \"tags\": \" recently-added \",\r\n  \"networkId\": \"N_24329156\",\r\n  \"beaconIdParams\": {\r\n    \"uuid\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"major\": 5,\r\n    \"minor\": 3\r\n  }\r\n}"
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update the attributes of a device",
        "summary": "updateNetworkDevice",
        "tags": [
          "Devices"
        ],
        "operationId": "NetworksDevicesByNetworkIdAndSerialPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "updateNetworkDevice",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/updateNetworkDevice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "text/plain": "{\r\n  \"name\": \"My AP\",\r\n  \"lat\": 37.4180951010362,\r\n  \"lng\": -122.098531723022,\r\n  \"serial\": \"Q234-ABCD-5678\",\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"model\": \"MR34\",\r\n  \"address\": \"1600 Pennsylvania Ave\",\r\n  \"notes\": \"My AP's note\",\r\n  \"lanIp\": \"1.2.3.4\",\r\n  \"tags\": \" recently-added \",\r\n  \"networkId\": \"N_24329156\",\r\n  \"beaconIdParams\": {\r\n    \"uuid\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"major\": 5,\r\n    \"minor\": 3\r\n  }\r\n}"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/devices": {
      "get": {
        "description": "List the devices in a network",
        "summary": "getNetworkDevices",
        "tags": [
          "Devices"
        ],
        "operationId": "NetworksDevicesByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
[...]
