{
  "swagger": "2.0",
  "info": {
    "version": "0",
    "title": "Meraki Dashboard API",
    "description": "The Cisco Meraki Dashboard API is a modern REST API based on the [OpenAPI](https://swagger.io/docs/specification/about/) specification.\n\n## What can the API be used for?\nThe dashboard API can be used for many purposes. It’s meant to be an open-ended tool. Here are some examples of use cases:\n\n* Add new organizations, admins, networks, devices, VLANs, and more\n* Configure networks at scale\n* Automatically on-board and off-board new employees’ teleworker setup\n* Build your own dashboard for store managers, field techs, or unique use cases\n\n## Enabling the Dashboard API\n1. Begin by logging into [Meraki Dashboard](https://dashboard.meraki.com) and navigating to **Organization > Settings**\n\n2. Locate the section titled **Dashboard API access** and select **Enable Access**, then **Save** your changes\n\n3. After enabling the API, choose your username at the top-right of the Meraki Dashboard and select **my profile**\n\n4. Locate the section titled **Dashboard API access** and select **Generate new API key**\n\n *Note: The API key is associated with a Dashboard administrator account. You can generate, revoke, and regenerate your API key on your profile.*\n\n**Keep your API key safe as it provides authentication to all of your organizations with the API enabled. If your API key is shared, you can regenerate your API key at any time. This will revoke the existing API key.**\n\n Copy and store your API key in a safe place. Dashboard does not store API keys in plaintext for security reasons, so this is the only time you will be able to record it. If you lose or forget your API key, you will have to revoke it and generate a new one.\n \nEvery request must specify an API key via a request header.\n\nThe API key must be specified in the URL header. The API will return 404 (rather than a 403) in response to a request with a missing or incorrect API key in order to prevent leaking the existence of resources to unauthorized users.\n\n`X-Cisco-Meraki-API-Key: <secret key>`\n\nRead more about API [authorization](../api/#/python/getting-started/authorizing-your-client)\n \n\n## Versioning\nOnce an API version is released, we will make only backwards-compatible changes to it. Backwards-compatible changes include:\n\n* Adding new API resources\nAdding new optional request parameters to existing API methods\n\n* Adding new properties to existing API responses\n\n* Changing the order of properties in existing API responses\n\n## Rate Limit\n* The Dashboard API is limited to **5 calls per second**, per organization. \n* A burst of 5 additional calls are allowed in the first second, so a maximum of 15 calls in the first 2 seconds.\n* The rate limiting technique is based off of the [token bucket model](https://en.wikipedia.org/wiki/Token_bucket).\n* An error with a `429` status code will be returned when the rate limit has been exceeded.\n* Expect to backoff for 1 - 2 seconds if the limit has been exceeded. You may have to wait potentially longer if a large number of requests were made within this timeframe.. \n \n\n## Additional Details\nIdentifiers in the API are opaque strings. A `<network_id>`, for example, might be the string “126043”, whereas an `<order_id>` might contain characters, such as “4S1234567”. Client applications must not try to parse them as numbers. Even identifiers that look like numbers might be too long to encode without loss of precision in Javascript, where the only numeric type is IEEE 754 floating point.\n\nVerbs in the API follow the usual REST conventions: \n\n`GET` returns the value of a resource or a list of resources, depending on whether an identifier is specified. For example, a `GET` of `/v0/organizations` returns a list of organizations, whereas a `GET` of `/v0/organizations/<org_id>` returns a particular organization. \n\n`POST` adds a new resource, as in a `POST` to `/v0/organizations/<org_id>/admins`, or performs some other non-idempotent change.\n\n `PUT` updates a resource. `PUTs` are idempotent; they update a resource, creating it first if it does not already exist. A `PUT` should specify all the fields of a resource; the API will revert omitted fields to their default value. \n\n`DELETE` removes a resource. Call volume is limited to 5 calls per second (per organization).",
    "contact": {
      "url": "https://meraki.io"
    }
  },
  "host": "api.meraki.com",
  "basePath": "/api/v0",
  "securityDefinitions": {
    "Cisco-Meraki-API-Key": {
      "type": "apiKey",
      "description": "",
      "name": "X-Cisco-Meraki-API-Key",
      "in": "header"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/organizations/{organizationId}/admins": {
      "get": {
        "description": "List the dashboard administrators in this organization\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/organizations/{organizationId}/admins'\n```",
        "summary": "getOrganizationAdmins",
        "tags": [
          "Admins"
        ],
        "operationId": "OrganizationsAdminsByOrganizationIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "id": "212406",
                  "name": "Miles Meraki",
                  "email": "miles@meraki.com",
                  "orgAccess": "none",
                  "accountStatus": "ok",
                  "twoFactorAuthEnabled": false,
                  "hasApiKey": true,
                  "lastActive": "2019-01-28 14:58:56 -0800",
                  "tags": [
                    {
                      "tag": "west",
                      "access": "read-only"
                    }
                  ],
                  "networks": [
                    {
                      "id": "N_24329156",
                      "access": "full"
                    }
                  ]
                }
              ]
            },
            "headers": {}
          }
        }
      },
      "post": {
        "description": "Create a new dashboard administrator\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X POST --data-binary '{\"name\":\"Miles Meraki\",\"email\":\"miles@meraki.com\",\"orgAccess\":\"none\",\"tags\":[{\"tag\":\"west\",\"access\":\"read-only\"}]}' 'https://api.meraki.com/api/v0/organizations/{organizationId}/admins'\n```",
        "summary": "createOrganizationAdmins",
        "tags": [
          "Admins"
        ],
        "operationId": "OrganizationsAdminsByOrganizationIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "createOrganizationAdmins",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/createOrganizationAdmins"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "id": "212406",
                "name": "Miles Meraki",
                "email": "miles@meraki.com",
                "orgAccess": "none",
                "accountStatus": "ok",
                "twoFactorAuthEnabled": false,
                "hasApiKey": true,
                "lastActive": "2019-01-28 14:58:56 -0800",
                "tags": [
                  {
                    "tag": "west",
                    "access": "read-only"
                  }
                ],
                "networks": [
                  {
                    "id": "N_24329156",
                    "access": "full"
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/admins/{id}": {
      "put": {
        "description": "Update an administrator\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"name\":\"Miles Meraki\",\"email\":\"miles@meraki.com\",\"orgAccess\":\"none\",\"tags\":[{\"tag\":\"west\",\"access\":\"read-only\"}]}' 'https://api.meraki.com/api/v0/organizations/{organizationId}/admins/{id}'\n```",
        "summary": "updateOrganizationAdmin",
        "tags": [
          "Admins"
        ],
        "operationId": "OrganizationsAdminsByOrganizationIdAndIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "updateOrganizationAdmin",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/updateOrganizationAdmin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "id": "212406",
                "name": "Miles Meraki",
                "email": "miles@meraki.com",
                "orgAccess": "none",
                "accountStatus": "ok",
                "twoFactorAuthEnabled": false,
                "hasApiKey": true,
                "lastActive": "2019-01-28 14:58:56 -0800",
                "tags": [
                  {
                    "tag": "west",
                    "access": "read-only"
                  }
                ],
                "networks": [
                  {
                    "id": "N_24329156",
                    "access": "full"
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      },
      "delete": {
        "description": "Revoke all access for a dashboard administrator within this organization\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X DELETE 'https://api.meraki.com/api/v0/organizations/{organizationId}/admins/{id}'\n```",
        "summary": "deleteOrganizationAdmin",
        "tags": [
          "Admins"
        ],
        "operationId": "OrganizationsAdminsByOrganizationIdAndIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation",
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/alertSettings": {
      "get": {
        "description": "Return the alert configuration for this network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/alertSettings'\n```",
        "summary": "getNetworkAlertSettings",
        "tags": [
          "Alert settings"
        ],
        "operationId": "NetworksAlertSettingsByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "defaultDestinations": {
                  "emails": [
                    "miles@meraki.com"
                  ],
                  "allAdmins": true,
                  "snmp": true
                },
                "alerts": [
                  {
                    "type": "gatewayDown",
                    "enabled": true,
                    "alertDestinations": {
                      "emails": [
                        "miles@meraki.com"
                      ],
                      "allAdmins": false,
                      "snmp": false
                    },
                    "filters": {
                      "timeout": 60
                    }
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update the alert configuration for this network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"defaultDestinations\":{\"emails\":[\"miles@meraki.com\"],\"allAdmins\":true,\"snmp\":true},\"alerts\":[{\"type\":\"gatewayDown\",\"enabled\":true,\"alertDestinations\":{\"emails\":[\"miles@meraki.com\"],\"allAdmins\":false,\"snmp\":false},\"filters\":{\"timeout\":60}}]}' 'https://api.meraki.com/api/v0/networks/[networkId]/alertSettings'\n```",
        "summary": "updateNetworkAlertSettings",
        "tags": [
          "Alert settings"
        ],
        "operationId": "NetworksAlertSettingsByNetworkIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "updateNetworkAlertSettings",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/updateNetworkAlertSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "defaultDestinations": {
                  "emails": [
                    "miles@meraki.com"
                  ],
                  "allAdmins": true,
                  "snmp": true
                },
                "alerts": [
                  {
                    "type": "gatewayDown",
                    "enabled": true,
                    "alertDestinations": {
                      "emails": [
                        "miles@meraki.com"
                      ],
                      "allAdmins": false,
                      "snmp": false
                    },
                    "filters": {
                      "timeout": 60
                    }
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/devices/{serial}/camera/analytics/zones": {
      "get": {
        "description": "Returns all configured analytic zones for this camera\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/devices/[serial]/camera/analytics/zones'\n```",
        "summary": "getDeviceCameraAnalyticsZones",
        "tags": [
          "MV Sense"
        ],
        "operationId": "DevicesCameraAnalyticsZonesBySerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "id": "0",
                  "type": "occupancy",
                  "label": "Full Frame"
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/devices/{serial}/camera/analytics/recent": {
      "get": {
        "description": "Returns most recent record for analytics zones\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/devices/[serial]/camera/analytics/recent'\n```",
        "summary": "getDeviceCameraAnalyticsRecent",
        "tags": [
          "MV Sense"
        ],
        "operationId": "DevicesCameraAnalyticsRecentBySerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "zoneId": 0,
                  "entrances": 10,
                  "averageCount": 2.54
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/devices/{serial}/camera/analytics/live": {
      "get": {
        "description": "Returns live state from camera of analytics zones\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/devices/[serial]/camera/analytics/live'\n```",
        "summary": "getDeviceCameraAnalyticsLive",
        "tags": [
          "MV Sense"
        ],
        "operationId": "DevicesCameraAnalyticsLiveBySerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "ts": "2018-08-15T18:32:38.123Z",
                  "zones": {
                    "0": {
                      "person": 0
                    }
                  }
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/devices/{serial}/camera/analytics/overview": {
      "get": {
        "description": "Returns an overview of aggregate analytics data for a timespan\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/devices/{serial}/camera/analytics/overview'\n```",
        "summary": "getDeviceCameraAnalyticsOverview",
        "tags": [
          "MV Sense"
        ],
        "operationId": "DevicesCameraAnalyticsOverviewBySerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 365 days from today."
          },
          {
            "name": "t1",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end of the timespan for the data. t1 can be a maximum of 7 days after t0."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 1 hour."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "zoneId": 0,
                  "entrances": 254,
                  "averageCount": 5
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/devices/{serial}/camera/analytics/zones/{zoneId}/history": {
      "get": {
        "description": "Return historical records for analytic zones\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/devices/{serial}/camera/analytics/zones/{zoneId}/history'\n```",
        "summary": "getDeviceCameraAnalyticsZoneHistory",
        "tags": [
          "MV Sense"
        ],
        "operationId": "DevicesCameraAnalyticsZonesHistoryBySerialAndZoneIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 365 days from today."
          },
          {
            "name": "t1",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end of the timespan for the data. t1 can be a maximum of 14 hours after t0."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 14 hours. The default is 1 hour."
          },
          {
            "name": "resolution",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The time resolution in seconds for returned data. The valid resolutions are: 60. The default is 60."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "entrances": 5,
                  "averageCount": 1.5
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/apiRequests": {
      "get": {
        "description": "List the API requests made by an organization\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/organizations/{organizationId}/apiRequests'\n```",
        "summary": "getOrganizationApiRequests",
        "tags": [
          "API usage"
        ],
        "operationId": "OrganizationsApiRequestsByOrganizationIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "name": "t1",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end of the timespan for the data. t1 can be a maximum of 31 days after t0."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 31 days."
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of entries per page returned. Acceptable range is 3 - 1000. Default is 50."
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "adminId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the results by the ID of the admin who made the API requests"
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the results by the path of the API requests"
          },
          {
            "name": "method",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the results by the method of the API requests (must be 'GET', 'PUT', 'POST' or 'DELETE')"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "adminId": "212406",
                  "method": "GET",
                  "host": "api.meraki.com",
                  "path": "/api/v0/organizations/33349/apiRequests",
                  "queryString": "timespan=604800",
                  "userAgent": "PostmanRuntime/7.6.0",
                  "ts": "2019-02-20T17:31:23Z"
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/bluetoothClients/{id}": {
      "get": {
        "description": "Return a Bluetooth client\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/bluetoothClients/[id]'\n```",
        "summary": "getNetworkBluetoothClient",
        "tags": [
          "Bluetooth clients"
        ],
        "operationId": "NetworksBluetoothClientsByNetworkIdAndIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "includeConnectivityHistory",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Include the connectivity history for this client"
          },
          {
            "name": "connectivityHistoryTimespan",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The timespan, in seconds, for the connectivityHistory data. By default 1 day, 86400, will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "mac": "00:11:22:33:44:55",
                "networkId": "N_24329156"
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/bluetoothClients": {
      "get": {
        "description": "List the Bluetooth clients seen by APs in this network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/{networkId}/bluetoothClients'\n```",
        "summary": "getNetworkBluetoothClients",
        "tags": [
          "Bluetooth clients"
        ],
        "operationId": "NetworksBluetoothClientsByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of entries per page returned. Acceptable range is 5 - 1000. Default is 10."
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The timespan, in seconds, used to look back from now for bluetooth clients"
          },
          {
            "name": "includeConnectivityHistory",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Include the connectivity history for this client"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "mac": "00:11:22:33:44:55",
                  "networkId": "N_24329156"
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/bluetoothSettings": {
      "get": {
        "description": "Return the Bluetooth settings for a network. <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a> must be enabled on the network.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/{networkId}/bluetoothSettings'\n```",
        "summary": "getNetworkBluetoothSettings",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksBluetoothSettingsByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "scanningEnabled": true,
                "advertisingEnabled": true,
                "uuid": "00000000-0000-0000-000-000000000000",
                "majorMinorAssignmentMode": "Non-unique",
                "major": 1
              }
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update the Bluetooth settings for a network. See the docs page for <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a>.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"scanningEnabled\":true,\"advertisingEnabled\":true,\"uuid\":\"00000000-0000-0000-000-000000000000\",\"majorMinorAssignmentMode\":\"Non-unique\",\"major\":1}' 'https://api.meraki.com/api/v0/networks/{networkId}/bluetoothSettings'\n```",
        "summary": "updateNetworkBluetoothSettings",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksBluetoothSettingsByNetworkIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "updateNetworkBluetoothSettings",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/updateNetworkBluetoothSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "scanningEnabled": true,
                "advertisingEnabled": true,
                "uuid": "00000000-0000-0000-000-000000000000",
                "majorMinorAssignmentMode": "Non-unique",
                "major": 1
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/networks": {
      "get": {
        "description": "List the networks in an organization\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/organizations/{organizationId}/networks'\n```",
        "summary": "getOrganizationNetworks",
        "tags": [
          "Networks"
        ],
        "operationId": "OrganizationsNetworksByOrganizationIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "configTemplateId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An optional parameter that is the ID of a config template. Will return all networks bound to that template."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "id": "L_123456",
                  "organizationId": 2930418,
                  "name": "Long Island Office",
                  "timeZone": "America/Los_Angeles",
                  "tags": " tag1 tag2 ",
                  "type": "combined",
                  "disableMyMerakiCom": false
                }
              ]
            },
            "headers": {}
          }
        }
      },
      "post": {
        "description": "Create a network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X POST --data-binary '{\"name\":\"Long Island Office\",\"timeZone\":\"America/Los_Angeles\",\"tags\":\" tag1 tag2 \",\"disableMyMerakiCom\":false,\"type\":\"appliance switch camera\"}' 'https://api.meraki.com/api/v0/organizations/{organizationId}/networks'\n```",
        "summary": "createOrganizationNetworks",
        "tags": [
          "Networks"
        ],
        "operationId": "OrganizationsNetworksByOrganizationIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "createOrganizationNetworks",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/createOrganizationNetworks"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "id": "L_123456",
                "organizationId": 2930418,
                "name": "Long Island Office",
                "timeZone": "America/Los_Angeles",
                "tags": " tag1 tag2 ",
                "type": "combined",
                "disableMyMerakiCom": false
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}": {
      "get": {
        "description": "Return a network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/{networkId}'\n```",
        "summary": "getNetwork",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "id": "L_123456",
                "organizationId": 2930418,
                "name": "Long Island Office",
                "timeZone": "America/Los_Angeles",
                "tags": " tag1 tag2 ",
                "type": "combined",
                "disableMyMerakiCom": false
              }
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update a network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"name\":\"Long Island Office\",\"timeZone\":\"America/Los_Angeles\",\"tags\":\" tag1 tag2 \",\"disableMyMerakiCom\":false}' 'https://api.meraki.com/api/v0/networks/{networkId}'\n```",
        "summary": "updateNetwork",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksByNetworkIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "updateNetwork",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/updateNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "id": "L_123456",
                "organizationId": 2930418,
                "name": "Long Island Office",
                "timeZone": "America/Los_Angeles",
                "tags": " tag1 tag2 ",
                "type": "combined",
                "disableMyMerakiCom": false
              }
            },
            "headers": {}
          }
        }
      },
      "delete": {
        "description": "Delete a network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X DELETE 'https://api.meraki.com/api/v0/networks/{networkId}'\n```",
        "summary": "deleteNetwork",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksByNetworkIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation",
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/bind": {
      "post": {
        "description": "Bind a network to a template.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X POST --data-binary '{\"configTemplateId\":\"N_23952905\",\"autoBind\":false}' 'https://api.meraki.com/api/v0/networks/{networkId}/bind'\n```",
        "summary": "bindNetwork",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksBindByNetworkIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "bindNetwork",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/bindNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/unbind": {
      "post": {
        "description": "Unbind a network from a template.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X POST 'https://api.meraki.com/api/v0/networks/{networkId}/unbind'\n```",
        "summary": "unbindNetwork",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksUnbindByNetworkIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/traffic": {
      "get": {
        "description": "The traffic analysis data for this network.\n<a href=\"https://documentation.meraki.com/MR/Monitoring_and_Reporting/Hostname_Visibility\">Traffic Analysis with Hostname Visibility</a> must be enabled on the network.\n\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/{networkId}/traffic'\n```",
        "summary": "getNetworkTraffic",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksTrafficByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "timespan",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The timespan for the data. Must be an integer representing a duration in seconds between two hours and one month. (Mandatory.)"
          },
          {
            "name": "deviceType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the data by device type: combined (default), wireless, switch, appliance. When using combined, for each rule the data will come from the device type with the most usage."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "application": "Gmail",
                  "destination": null,
                  "protocol": "TCP",
                  "port": 443,
                  "sent": 138.0,
                  "recv": 61.0,
                  "numClients": 7,
                  "activeTime": 77000,
                  "flows": 300
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/accessPolicies": {
      "get": {
        "description": "List the access policies for this network. Only valid for MS networks.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/{networkId}/accessPolicies'\n```",
        "summary": "getNetworkAccessPolicies",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksAccessPoliciesByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "number": 1,
                  "name": "My access policy",
                  "accessType": "8021.x",
                  "guestVlan": 3700,
                  "radiusServers": [
                    {
                      "ip": "1.2.3.4",
                      "port": 1337
                    },
                    {
                      "ip": "2.3.4.5",
                      "port": 1337
                    }
                  ]
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/airMarshal": {
      "get": {
        "description": "List Air Marshal scan results from a network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/{networkId}/airMarshal'\n```",
        "summary": "getNetworkAirMarshal",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksAirMarshalByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 7 days."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "ssid": "linksys",
                  "bssids": [
                    {
                      "bssid": "00:11:22:33:44:55",
                      "contained": false,
                      "detectedBy": [
                        {
                          "device": "Q234-ABCD-5678",
                          "rssi": 17
                        }
                      ]
                    }
                  ],
                  "channels": [
                    36,
                    40
                  ],
                  "firstSeen": 1518365681,
                  "lastSeen": 1526087474,
                  "wiredMacs": [
                    "00:11:22:33:44:55"
                  ],
                  "wiredVlans": [
                    0,
                    108
                  ],
                  "wiredLastSeen": 1526087474
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/siteToSiteVpn": {
      "get": {
        "description": "Return the site-to-site VPN settings of a network. Only valid for MX networks.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/{networkId}/siteToSiteVpn'\n```",
        "summary": "getNetworkSiteToSiteVpn",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksSiteToSiteVpnByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "mode": "spoke",
                "hubs": [
                  {
                    "hubId": "N_4901849",
                    "useDefaultRoute": true
                  },
                  {
                    "hubId": "N_1892489",
                    "useDefaultRoute": false
                  }
                ],
                "subnets": [
                  {
                    "localSubnet": "192.168.1.0/24",
                    "useVpn": true
                  },
                  {
                    "localSubnet": "192.168.128.0/24",
                    "useVpn": true
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update the site-to-site VPN settings of a network. Only valid for MX networks in NAT mode.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"mode\":\"spoke\",\"hubs\":[{\"hubId\":\"N_4901849\",\"useDefaultRoute\":true},{\"hubId\":\"N_1892489\",\"useDefaultRoute\":false}],\"subnets\":[{\"localSubnet\":\"192.168.1.0/24\",\"useVpn\":true},{\"localSubnet\":\"192.168.128.0/24\",\"useVpn\":true}]}' 'https://api.meraki.com/api/v0/networks/{networkId}/siteToSiteVpn'\n```",
        "summary": "updateNetworkSiteToSiteVpn",
        "tags": [
          "Networks"
        ],
        "operationId": "NetworksSiteToSiteVpnByNetworkIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "updateNetworkSiteToSiteVpn",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/updateNetworkSiteToSiteVpn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "mode": "spoke",
                "hubs": [
                  {
                    "hubId": "N_4901849",
                    "useDefaultRoute": true
                  },
                  {
                    "hubId": "N_1892489",
                    "useDefaultRoute": false
                  }
                ],
                "subnets": [
                  {
                    "localSubnet": "192.168.1.0/24",
                    "useVpn": true
                  },
                  {
                    "localSubnet": "192.168.128.0/24",
                    "useVpn": true
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/cameras/{serial}/videoLink": {
      "get": {
        "description": "Returns video link for the specified camera. If a timestamp supplied, it links to that time.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/cameras/[serial]/videoLink'\n```",
        "summary": "getNetworkCameraVideoLink",
        "tags": [
          "Cameras"
        ],
        "operationId": "NetworksCamerasVideoLinkByNetworkIdAndSerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "url": "https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077"
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/cameras/{serial}/snapshot": {
      "post": {
        "description": "Generate a snapshot of what the camera sees at the specified time and return a link to that image.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X POST 'https://api.meraki.com/api/v0/networks/[networkId]/cameras/[serial]/snapshot'\n```",
        "summary": "snapshotNetworkCamera",
        "tags": [
          "Cameras"
        ],
        "operationId": "NetworksCamerasSnapshotByNetworkIdAndSerialPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "snapshotNetworkCamera",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/snapshotNetworkCamera"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "url": "https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2",
                "expiry": "Access to the image will expire at 2018-12-11T03:12:39Z."
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{idOrMacOrIp}": {
      "get": {
        "description": "Return the client associated with the given identifier. This endpoint will lookup by client ID or either the MAC or IP depending on whether the network uses Track-by-IP.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/clients/[idOrMacOrIp]'\n```",
        "summary": "getNetworkClient",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsByNetworkIdAndIdOrMacOrIpGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "idOrMacOrIp",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "id": "k74272e",
                "description": "Miles's phone",
                "mac": "00:11:22:33:44:55",
                "ip": "1.2.3.4",
                "user": "null",
                "vlan": "255",
                "switchport": null,
                "ip6": "",
                "firstSeen": 1518365681,
                "lastSeen": 1526087474,
                "manufacturer": "Apple",
                "os": "iOS",
                "ssid": "My SSID",
                "wirelessCapabilities": "802.11ac - 2.4 and 5 GHz",
                "smInstalled": true,
                "recentDeviceMac": "00:11:22:33:44:55",
                "clientVpnConnections": [
                  {
                    "remoteIp": "1.2.3.4",
                    "connectedAt": 1522613355,
                    "disconnectedAt": 1522613360
                  }
                ],
                "lldp": [
                  [
                    "System name",
                    "Some system name"
                  ],
                  [
                    "System description",
                    "Some system description"
                  ],
                  [
                    "Port ID",
                    "1"
                  ],
                  [
                    "Chassis ID",
                    "00:18:0a:00:00:00"
                  ],
                  [
                    "Port description",
                    "eth0"
                  ],
                  [
                    "System capabilities",
                    "Two-port MAC Relay"
                  ]
                ],
                "cdp": null
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/provision": {
      "post": {
        "description": "Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X POST --data-binary '{\"mac\":\"00:11:22:33:44:55\",\"name\":\"Miles's phone\",\"devicePolicy\":\"Group policy\",\"groupPolicyId\":\"101\"}' 'https://api.meraki.com/api/v0/networks/[networkId]/clients/provision'\n```",
        "summary": "provisionNetworkClients",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsProvisionByNetworkIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "provisionNetworkClients",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/provisionNetworkClients"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "mac": "00:11:22:33:44:55",
                "clientId": "k74272e",
                "name": "Miles's phone",
                "devicePolicy": "Group policy",
                "groupPolicyId": "101"
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{idOrMacOrIp}/usageHistory": {
      "get": {
        "description": "Return the client's daily usage history. Usage data is in kilobytes.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/clients/[idOrMacOrIp]/usageHistory'\n```",
        "summary": "getNetworkClientUsageHistory",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsUsageHistoryByNetworkIdAndIdOrMacOrIpGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "idOrMacOrIp",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "sent": 500,
                  "received": 680,
                  "ts": 1518365681
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{mac}/policy": {
      "get": {
        "description": "Return the policy assigned to a client on the network.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/clients/[mac]/policy?timespan=7200'\n```",
        "summary": "getNetworkClientPolicy",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsPolicyByNetworkIdAndMacGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The timespan for which clients will be fetched. Must be in seconds and less than or equal to a month (2592000 seconds)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "mac": "00:11:22:33:44:55",
                "type": "Group policy",
                "groupPolicyId": "101"
              }
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update the policy assigned to a client on the network.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"mac\":\"00:11:22:33:44:55\",\"type\":\"Group policy\",\"groupPolicyId\":\"101\"}' 'https://api.meraki.com/api/v0/networks/[networkId]/clients/[mac]/policy'\n```",
        "summary": "updateNetworkClientPolicy",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsPolicyByNetworkIdAndMacPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "updateNetworkClientPolicy",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/updateNetworkClientPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "mac": "00:11:22:33:44:55",
                "type": "Group policy",
                "groupPolicyId": "101"
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{id}/clients/{mac}/splashAuthorizationStatus": {
      "get": {
        "description": "Return the splash authorization for a client, for each SSID they've associated with through splash.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[id]/clients/[mac]/splashAuthorizationStatus'\n```",
        "summary": "getNetworkClientSplashAuthorizationStatus",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsSplashAuthorizationStatusByIdAndMacGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "ssids": {
                  "0": {
                    "isAuthorized": true,
                    "authorizedAt": "2017-07-19 16:24:13 UTC",
                    "expiresAt": "2017-07-20 16:24:13 UTC"
                  },
                  "2": {
                    "isAuthorized": false
                  }
                }
              }
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update a client's splash authorization.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"ssids\":{\"0\":{\"isAuthorized\":true,\"authorizedAt\":\"2017-07-19 16:24:13 UTC\",\"expiresAt\":\"2017-07-20 16:24:13 UTC\"},\"2\":{\"isAuthorized\":false}}}' 'https://api.meraki.com/api/v0/networks/[id]/clients/[mac]/splashAuthorizationStatus'\n```",
        "summary": "updateNetworkClientSplashAuthorizationStatus",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsSplashAuthorizationStatusByIdAndMacPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "updateNetworkClientSplashAuthorizationStatus",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/updateNetworkClientSplashAuthorizationStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "ssids": {
                  "0": {
                    "isAuthorized": true,
                    "authorizedAt": "2017-07-19 16:24:13 UTC",
                    "expiresAt": "2017-07-20 16:24:13 UTC"
                  },
                  "2": {
                    "isAuthorized": false
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/devices/{serial}/clients": {
      "get": {
        "description": "List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/devices/{serial}/clients'\n```",
        "summary": "getDeviceClients",
        "tags": [
          "Clients"
        ],
        "operationId": "DevicesClientsBySerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "usage": {
                  "sent": 138.0,
                  "recv": 61.0
                },
                "id": "k74272e",
                "description": "Miles's phone",
                "mac": "00:11:22:33:44:55",
                "ip": "1.2.3.4",
                "user": "milesmeraki",
                "vlan": 255,
                "switchport": null,
                "mdnsName": "Miles's phone",
                "dhcpHostname": "MilesPhone"
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{idOrMacOrIp}/trafficHistory": {
      "get": {
        "description": "Return the client's network traffic data over time. Usage data is in kilobytes. This endpoint requires detailed traffic analysis to be enabled on the Network-wide > General page.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/{networkId}/clients/{idOrMacOrIp}/trafficHistory'\n```",
        "summary": "getNetworkClientTrafficHistory",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsTrafficHistoryByNetworkIdAndIdOrMacOrIpGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "idOrMacOrIp",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of entries per page returned. Acceptable range is 3 - 1000."
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "ts": 1518365681,
                  "application": "Google",
                  "destination": "www.google.com",
                  "protocol": "UDP",
                  "port": 443,
                  "recv": 383,
                  "sent": 56,
                  "numFlows": 5,
                  "activeSeconds": 240
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{idOrMacOrIp}/events": {
      "get": {
        "description": "Return the events associated with this client\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/{networkId}/clients/{idOrMacOrIp}/events'\n```",
        "summary": "getNetworkClientEvents",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsEventsByNetworkIdAndIdOrMacOrIpGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "idOrMacOrIp",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of entries per page returned. Acceptable range is 3 - 100. Default is 100."
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "deviceSerial": "Q234-ABCD-5678",
                  "occurredAt": 1518365681,
                  "type": "l3roaming_assoc_start",
                  "details": {
                    "vap": "1",
                    "on_packet": "true"
                  }
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/clients/{idOrMacOrIp}/latencyHistory": {
      "get": {
        "description": "Return the latency history for a client. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background, best effort, video, voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/{networkId}/clients/{idOrMacOrIp}/latencyHistory?timespan=7200'\n```",
        "summary": "getNetworkClientLatencyHistory",
        "tags": [
          "Clients"
        ],
        "operationId": "NetworksClientsLatencyHistoryByNetworkIdAndIdOrMacOrIpGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "idOrMacOrIp",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "t0",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 791 days from today."
          },
          {
            "name": "t1",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end of the timespan for the data. t1 can be a maximum of 791 days after t0."
          },
          {
            "name": "timespan",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 791 days. The default is 1 day."
          },
          {
            "name": "resolution",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The time resolution in seconds for returned data. The valid resolutions are: 86400. The default is 86400."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "t0": 1550534400,
                  "t1": 1550620800,
                  "latencyBinsByCategory": {
                    "backgroundTraffic": {
                      "0.5": 41750,
                      "1.0": 21552,
                      "2.0": 59940,
                      "4.0": 146622,
                      "8.0": 57354,
                      "16.0": 0,
                      "32.0": 9954,
                      "64.0": 0,
                      "128.0": 0,
                      "256.0": 1896,
                      "512.0": 0,
                      "1024.0": 0,
                      "2048.0": 0
                    },
                    "bestEffortTraffic": {
                      "0.5": 1840899,
                      "1.0": 1644506,
                      "2.0": 629958,
                      "4.0": 449564,
                      "8.0": 2009658,
                      "16.0": 1329568,
                      "32.0": 282168,
                      "64.0": 97573,
                      "128.0": 191977,
                      "256.0": 30560,
                      "512.0": 26032,
                      "1024.0": 4943,
                      "2048.0": 12072
                    },
                    "videoTraffic": {
                      "0.5": 0,
                      "1.0": 0,
                      "2.0": 0,
                      "4.0": 0,
                      "8.0": 0,
                      "16.0": 0,
                      "32.0": 0,
                      "64.0": 0,
                      "128.0": 0,
                      "256.0": 0,
                      "512.0": 0,
                      "1024.0": 0,
                      "2048.0": 0
                    },
                    "voiceTraffic": {
                      "0.5": 716,
                      "1.0": 948,
                      "2.0": 474,
                      "4.0": 78,
                      "8.0": 0,
                      "16.0": 0,
                      "32.0": 0,
                      "64.0": 0,
                      "128.0": 0,
                      "256.0": 0,
                      "512.0": 0,
                      "1024.0": 0,
                      "2048.0": 0
                    }
                  }
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/configTemplates": {
      "get": {
        "description": "List the configuration templates for this organization\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/organizations/[organizationId]/configTemplates'\n```",
        "summary": "getOrganizationConfigTemplates",
        "tags": [
          "Config templates"
        ],
        "operationId": "OrganizationsConfigTemplatesByOrganizationIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "id": "N_24329156",
                  "name": "My config template"
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/configTemplates/{id}": {
      "delete": {
        "description": "Remove a configuration template\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X DELETE 'https://api.meraki.com/api/v0/organizations/[organizationId]/configTemplates/[id]'\n```",
        "summary": "deleteOrganizationConfigTemplate",
        "tags": [
          "Config templates"
        ],
        "operationId": "OrganizationsConfigTemplatesByOrganizationIdAndIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/devices": {
      "get": {
        "description": "List the devices in a network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/devices'\n```",
        "summary": "getNetworkDevices",
        "tags": [
          "Devices"
        ],
        "operationId": "NetworksDevicesByNetworkIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "name": "My AP",
                  "lat": 37.4180951010362,
                  "lng": -122.098531723022,
                  "serial": "Q234-ABCD-5678",
                  "mac": "00:11:22:33:44:55",
                  "model": "MR34",
                  "address": "1600 Pennsylvania Ave",
                  "notes": "My AP's note",
                  "lanIp": "1.2.3.4",
                  "tags": " recently-added ",
                  "networkId": "N_24329156",
                  "beaconIdParams": {
                    "uuid": "00000000-0000-0000-0000-000000000000",
                    "major": 5,
                    "minor": 3
                  }
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/devices/{serial}": {
      "get": {
        "description": "Return a single device\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/devices/[serial]'\n```",
        "summary": "getNetworkDevice",
        "tags": [
          "Devices"
        ],
        "operationId": "NetworksDevicesByNetworkIdAndSerialGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "name": "My AP",
                "lat": 37.4180951010362,
                "lng": -122.098531723022,
                "serial": "Q234-ABCD-5678",
                "mac": "00:11:22:33:44:55",
                "model": "MR34",
                "address": "1600 Pennsylvania Ave",
                "notes": "My AP's note",
                "lanIp": "1.2.3.4",
                "tags": " recently-added ",
                "networkId": "N_24329156",
                "beaconIdParams": {
                  "uuid": "00000000-0000-0000-0000-000000000000",
                  "major": 5,
                  "minor": 3
                }
              }
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update the attributes of a device\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"name\":\"My AP\",\"lat\":37.4180951010362,\"lng\":-122.098531723022,\"serial\":\"Q234-ABCD-5678\",\"mac\":\"00:11:22:33:44:55\",\"tags\":\" recently-added \"}' 'https://api.meraki.com/api/v0/networks/[networkId]/devices/[serial]'\n```",
        "summary": "updateNetworkDevice",
        "tags": [
          "Devices"
        ],
        "operationId": "NetworksDevicesByNetworkIdAndSerialPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "serial",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "updateNetworkDevice",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/updateNetworkDevice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "name": "My AP",
                "lat": 37.4180951010362,
                "lng": -122.098531723022,
                "serial": "Q234-ABCD-5678",
                "mac": "00:11:22:33:44:55",
                "model": "MR34",
                "address": "1600 Pennsylvania Ave",
                "notes": "My AP's note",
                "lanIp": "1.2.3.4",
                "tags": " recently-added ",
                "networkId": "N_24329156",
                "beaconIdParams": {
                  "uuid": "00000000-0000-0000-0000-000000000000",
                  "major": 5,
                  "minor": 3
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/networks/{networkId}/devices/{serial}/performance": {
      "get": {
        "description": "Return the performance score for a single device. Only primary MX devices supported. If no data is available, a 204 error code is returned.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/devices/[serial]/performance'\n```",
[...]
