{
  "swagger": "2.0",
  "info": {
    "version": "v0",
    "title": "Meraki Dashboard API",
    "description": "This collection of API calls provides an easy way to interact with a Cisco Meraki network"
  },
  "host": "api.meraki.com",
  "basePath": "/api/v0",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "meraki_api_key": {
      "type": "apiKey",
      "name": "X-Cisco-Meraki-API-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "meraki_api_key": []
    }
  ],
  "paths": {
    "/organizations/{organizationId}/actionBatches": {
      "post": {
        "summary": "Create an action batch",
        "description": "Create an action batch\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X POST 'https://api.meraki.com/api/v0/organizations/[organizationId]/actionBatches'\n```",
        "operationId": "postOrganizationsOrganizationidActionbatches",
        "responses": {
          "201": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "id": "123",
                "status": "in progress",
                "confirmed": true,
                "actions": [
                  {
                    "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",
                    "operation": "update",
                    "body": {
                      "enabled": false
                    }
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "confirmed": {
                  "description": "Set to true for immediate execution. Set to false if the action should be previewed before executing.",
                  "type": "string"
                },
                "actions": {
                  "description": "A set of changes to make as part of this action",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "resource": {
                        "description": "Unique identifier for the resource to be acted on",
                        "type": "string"
                      },
                      "operation": {
                        "description": "The operation to be used. One of \"create\", \"update\", \"delete\".",
                        "type": "string"
                      },
                      "body": {
                        "description": "The body of the action",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "tags": ["Action batches"]
      },
      "get": {
        "summary": "Return the list of action batches in the organization",
        "description": "Return the list of action batches in the organization\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/organizations/[organizationId]/actionBatches'\n```",
        "operationId": "getOrganizationsOrganizationidActionbatches",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "id": "123",
                  "status": "in progress",
                  "confirmed": true,
                  "actions": [
                    {
                      "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",
                      "operation": "update",
                      "body": {
                        "enabled": false
                      }
                    }
                  ]
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Action batches"]
      }
    },
    "/organizations/{organizationId}/actionBatches/{id}": {
      "get": {
        "summary": "Return an action batch",
        "description": "Return an action batch\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/organizations/[organizationId]/actionBatches/[id]'\n```",
        "operationId": "getOrganizationsOrganizationidActionbatchesId",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "id": "123",
                "status": "in progress",
                "confirmed": true,
                "actions": [
                  {
                    "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",
                    "operation": "update",
                    "body": {
                      "enabled": false
                    }
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Action batches"]
      },
      "delete": {
        "summary": "Delete an action batch",
        "description": "Delete an action batch\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X DELETE 'https://api.meraki.com/api/v0/organizations/[organizationId]/actionBatches/[id]'\n```",
        "operationId": "deleteOrganizationsOrganizationidActionbatchesId",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Action batches"]
      },
      "put": {
        "summary": "Update an action batch",
        "description": "Update an action batch\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT 'https://api.meraki.com/api/v0/organizations/[organizationId]/actionBatches/[id]'\n```",
        "operationId": "putOrganizationsOrganizationidActionbatchesId",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "id": "123",
                "status": "in progress",
                "confirmed": true,
                "actions": [
                  {
                    "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",
                    "operation": "update",
                    "body": {
                      "enabled": false
                    }
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "confirmed": {
                  "description": "A boolean representing whether or not the batch has been confirmed. This property cannot be unset once it is true.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Action batches"]
      }
    },
    "/organizations/{organization_id}/admins": {
      "get": {
        "summary": "List the dashboard administrators in this organization",
        "description": "List the dashboard administrators in this organization\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/organizations/[organization_id]/admins'\n```",
        "operationId": "getOrganizationsOrganization_idAdmins",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "id": "212406",
                  "name": "Miles Meraki",
                  "email": "miles@meraki.com",
                  "orgAccess": "none",
                  "tags": [
                    {
                      "tag": "west",
                      "access": "read-only"
                    }
                  ],
                  "networks": [
                    {
                      "id": "N_24329156",
                      "access": "full"
                    }
                  ]
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Admins"]
      },
      "post": {
        "summary": "Create a new dashboard administrator",
        "description": "Create a new dashboard administrator\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X POST --data-binary '{\"name\":\"Miles Meraki\",\"email\":\"miles@meraki.com\",\"orgAccess\":\"none\",\"tags\":[{\"tag\":\"west\",\"access\":\"read-only\"}]}' 'https://api.meraki.com/api/v0/organizations/[organization_id]/admins'\n```",
        "operationId": "postOrganizationsOrganization_idAdmins",
        "responses": {
          "201": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "id": "212406",
                "name": "Miles Meraki",
                "email": "miles@meraki.com",
                "orgAccess": "none",
                "tags": [
                  {
                    "tag": "west",
                    "access": "read-only"
                  }
                ],
                "networks": [
                  {
                    "id": "N_24329156",
                    "access": "full"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "description": "The email of the dashboard administrator. This attribute can not be updated.",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the dashboard administrator",
                  "type": "string"
                },
                "orgAccess": {
                  "description": "The privilege of the dashboard administrator on the organization (full, read-only, none)",
                  "type": "string"
                },
                "tags": {
                  "description": "The list of tags that the dashboard administrator has privileges on",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "tag": {
                        "description": "The name of the tag",
                        "type": "string"
                      },
                      "access": {
                        "description": "The privilege of the dashboard administrator on the tag",
                        "type": "string"
                      }
                    }
                  }
                },
                "networks": {
                  "description": "The list of networks that the dashboard administrator has privileges on",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "The network ID",
                        "type": "string"
                      },
                      "access": {
                        "description": "The privilege of the dashboard administrator on the network",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "tags": ["Admins"]
      }
    },
    "/organizations/{organization_id}/admins/{id}": {
      "put": {
        "summary": "Update an administrator",
        "description": "Update an administrator\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"name\":\"Miles Meraki\",\"email\":\"miles@meraki.com\",\"orgAccess\":\"none\",\"tags\":[{\"tag\":\"west\",\"access\":\"read-only\"}]}' 'https://api.meraki.com/api/v0/organizations/[organization_id]/admins/[id]'\n```",
        "operationId": "putOrganizationsOrganization_idAdminsId",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "id": "212406",
                "name": "Miles Meraki",
                "email": "miles@meraki.com",
                "orgAccess": "none",
                "tags": [
                  {
                    "tag": "west",
                    "access": "read-only"
                  }
                ],
                "networks": [
                  {
                    "id": "N_24329156",
                    "access": "full"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "description": "The email of the dashboard administrator. This attribute can not be updated.",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the dashboard administrator",
                  "type": "string"
                },
                "orgAccess": {
                  "description": "The privilege of the dashboard administrator on the organization (full, read-only, none)",
                  "type": "string"
                },
                "tags": {
                  "description": "The list of tags that the dashboard administrator has privileges on",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "tag": {
                        "description": "The name of the tag",
                        "type": "string"
                      },
                      "access": {
                        "description": "The privilege of the dashboard administrator on the tag",
                        "type": "string"
                      }
                    }
                  }
                },
                "networks": {
                  "description": "The list of networks that the dashboard administrator has privileges on",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "The network ID",
                        "type": "string"
                      },
                      "access": {
                        "description": "The privilege of the dashboard administrator on the network",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "tags": ["Admins"]
      },
      "delete": {
        "summary": "Revoke all access for a dashboard administrator within this organization",
        "description": "Revoke all access for a dashboard administrator within this organization\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X DELETE 'https://api.meraki.com/api/v0/organizations/[organization_id]/admins/[id]'\n```",
        "operationId": "deleteOrganizationsOrganization_idAdminsId",
        "responses": {
          "204": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Admins"]
      }
    },
    "/networks/{networkId}/alertSettings": {
      "get": {
        "summary": "Return the alert configuration for this network",
        "description": "Return the alert configuration for this network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/alertSettings'\n```",
        "operationId": "getNetworksNetworkidAlertsettings",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "defaultDestinations": {
                  "emails": ["miles@meraki.com"],
                  "allAdmins": true,
                  "snmp": true
                },
                "alerts": [
                  {
                    "type": "gatewayDown",
                    "enabled": true,
                    "alertDestinations": {
                      "emails": ["miles@meraki.com"],
                      "allAdmins": false,
                      "snmp": false
                    },
                    "filters": {
                      "timeout": 60
                    }
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Alert settings"]
      },
      "put": {
        "summary": "Update the alert configuration for this network",
        "description": "Update the alert configuration for this network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"defaultDestinations\":{\"emails\":[\"miles@meraki.com\"],\"allAdmins\":true,\"snmp\":true},\"alerts\":[{\"type\":\"gatewayDown\",\"enabled\":true,\"alertDestinations\":{\"emails\":[\"miles@meraki.com\"],\"allAdmins\":false,\"snmp\":false},\"filters\":{\"timeout\":60}}]}' 'https://api.meraki.com/api/v0/networks/[networkId]/alertSettings'\n```",
        "operationId": "putNetworksNetworkidAlertsettings",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "defaultDestinations": {
                  "emails": ["miles@meraki.com"],
                  "allAdmins": true,
                  "snmp": true
                },
                "alerts": [
                  {
                    "type": "gatewayDown",
                    "enabled": true,
                    "alertDestinations": {
                      "emails": ["miles@meraki.com"],
                      "allAdmins": false,
                      "snmp": false
                    },
                    "filters": {
                      "timeout": 60
                    }
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "defaultDestinations": {
                  "description": "The network_wide destinations for all alerts on the network.",
                  "type": "object",
                  "properties": {
                    "emails": {
                      "description": "A list of emails that will recieve the alert(s).",
                      "type": "string"
                    },
                    "allAdmins": {
                      "description": "If true, then all network admins will receive emails.",
                      "type": "string"
                    },
                    "snmp": {
                      "description": "If true, then an SNMP trap will be sent if there is an SNMP trap server configured for this network.",
                      "type": "string"
                    }
                  }
                },
                "alerts": {
                  "description": "Alert-specific configuration for each type. Only alerts that pertain to the network can be updated.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "description": "The type of alert",
                        "type": "string"
                      },
                      "enabled": {
                        "description": "A boolean depicting if the alert is turned on or off",
                        "type": "string"
                      },
                      "alertDestinations": {
                        "description": "A hash of destinations for this specific alert. Keys include: emails: A list of emails that will recieve information about the alert, allAdmins: If true, then all network admins will receive emails, and snmp: If true, then an SNMP trap will be sent if there is an SNMP trap server configured for this network.",
                        "type": "string"
                      },
                      "filters": {
                        "description": "A hash of specific configuration data for the alert. Only filters specific to the alert will be updated.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "tags": ["Alert settings"]
      }
    },
    "/devices/{serial}/camera/analytics/zones": {
      "get": {
        "summary": "Returns all configured analytic zones for this camera",
        "description": "Returns all configured analytic zones for this camera\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/devices/[serial]/camera/analytics/zones'\n```",
        "operationId": "getDevicesSerialCameraAnalyticsZones",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "id": "0",
                  "type": "occupancy",
                  "label": "Full Frame"
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Analytics"]
      }
    },
    "/devices/{serial}/camera/analytics/recent": {
      "get": {
        "summary": "Returns most recent record for analytics zones",
        "description": "Returns most recent record for analytics zones\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/devices/[serial]/camera/analytics/recent'\n```",
        "operationId": "getDevicesSerialCameraAnalyticsRecent",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "zoneId": 0,
                  "entrances": 10,
                  "averageCount": 2.54
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Analytics"]
      }
    },
    "/devices/{serial}/camera/analytics/live": {
      "get": {
        "summary": "Returns live state from camera of analytics zones",
        "description": "Returns live state from camera of analytics zones\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/devices/[serial]/camera/analytics/live'\n```",
        "operationId": "getDevicesSerialCameraAnalyticsLive",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "ts": "2018-08-15T18:32:38.123Z",
                  "zones": {
                    "0": {
                      "person": 0
                    }
                  }
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Analytics"]
      }
    },
    "/devices/{serial}/camera/analytics/overview": {
      "get": {
        "summary": "Returns an overview of aggregate analytics data for a timespan",
        "description": "Returns an overview of aggregate analytics data for a timespan\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/devices/{serial}/camera/analytics/overview'\n```",
        "operationId": "getDevicesSerialCameraAnalyticsOverview",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "zoneId": 0,
                  "entrances": 254,
                  "averageCount": 5
                }
              ]
            }
          }
        },
        "tags": ["Analytics"]
      }
    },
    "/devices/{serial}/camera/analytics/zones/{zoneId}/history": {
      "get": {
        "summary": "Return historical records for analytic zones",
        "description": "Return historical records for analytic zones\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/devices/{serial}/camera/analytics/zones/{zoneId}/history'\n```",
        "operationId": "getDevicesSerialCameraAnalyticsZonesZoneidHistory",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "zoneId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "entrances": 5,
                  "averageCount": 1.5
                }
              ]
            }
          }
        },
        "tags": ["Analytics"]
      }
    },
    "/networks/{networkId}/bluetoothClients": {
      "get": {
        "summary": "List the Bluetooth clients seen by APs in this network",
        "description": "List the Bluetooth clients seen by APs in this network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/bluetoothClients?timespan=7200'\n```",
        "operationId": "getNetworksNetworkidBluetoothclients",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "mac": "00:11:22:33:44:55",
                  "networkId": "N_24329156"
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "timespan": {
                  "description": "The timespan, in seconds, used to look back from now for bluetooth clients",
                  "type": "string"
                },
                "includeConnectivityHistory": {
                  "description": "Include the connectivity history for this client",
                  "type": "string"
                },
                "perPage": {
                  "description": "The number of entries per page returned",
                  "type": "string"
                },
                "startingAfter": {
                  "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, next or prev page in the HTTP Link header should define it.",
                  "type": "string"
                },
                "endingBefore": {
                  "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, next or prev page in the HTTP Link header should define it.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Bluetooth clients"]
      }
    },
    "/networks/{networkId}/bluetoothClients/{id}": {
      "get": {
        "summary": "Return a Bluetooth client",
        "description": "Return a Bluetooth client\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/bluetoothClients/[id]'\n```",
        "operationId": "getNetworksNetworkidBluetoothclientsId",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "mac": "00:11:22:33:44:55",
                "networkId": "N_24329156"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "includeConnectivityHistory": {
                  "description": "Include the connectivity history for this client",
                  "type": "string"
                },
                "connectivityHistoryTimespan": {
                  "description": "The timespan, in seconds, for the connectivityHistory data. By default 1 day, 86400, will be used.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Bluetooth clients"]
      }
    },
    "/networks/{networkId}/cameras/{serial}/videoLink": {
      "get": {
        "summary": "Returns video link for the specified camera. If a timestamp supplied, it links to that time.",
        "description": "Returns video link for the specified camera. If a timestamp supplied, it links to that time.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/cameras/[serial]/videoLink'\n```",
        "operationId": "getNetworksNetworkidCamerasSerialVideolink",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "url": "https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "description": "The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds).",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Cameras"]
      }
    },
    "/devices/{serial}/clients": {
      "get": {
        "summary": "List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.",
        "description": "List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/devices/[serial]/clients?timespan=7200'\n```",
        "operationId": "getDevicesSerialClients",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "usage": {
                    "sent": 138,
                    "recv": 61
                  },
                  "id": "k74272e",
                  "description": "Miles's phone",
                  "mdnsName": "Miles's phone",
                  "dhcpHostname": "MilesPhone",
                  "mac": "00:11:22:33:44:55",
                  "ip": "1.2.3.4",
                  "vlan": "",
                  "switchport": null
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "timespan": {
                  "description": "The timespan for which clients will be fetched. Must be in seconds and less than or equal to a month (2592000 seconds).",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Clients"]
      }
    },
    "/networks/{networkId}/clients/{id_or_mac_or_ip}": {
      "get": {
        "summary": "Return the client associated with the given identifier. This endpoint will lookup by client ID or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "description": "Return the client associated with the given identifier. This endpoint will lookup by client ID or either the MAC or IP depending on whether the network uses Track-by-IP.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/clients/[id_or_mac_or_ip]'\n```",
        "operationId": "getNetworksNetworkidClientsId_or_mac_or_ip",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "id": "k74272e",
                "description": "Miles's phone",
                "mdnsName": "Miles's phone",
                "dhcpHostname": "MilesPhone",
                "mac": "00:11:22:33:44:55",
                "ip": "1.2.3.4",
                "vlan": "255",
                "switchport": null,
                "ip6": "",
                "firstSeen": 1518365681,
                "lastSeen": 1526087474,
                "manufacturer": "Apple",
                "os": "iOS",
                "user": "null",
                "ssid": "My SSID",
                "wirelessCapabilities": "802.11ac - 2.4 and 5 GHz",
                "smInstalled": true,
                "recentDeviceMac": "00:11:22:33:44:55",
                "clientVpnConnections": [
                  {
                    "remoteIp": "1.2.3.4",
                    "connectedAt": 1522613355,
                    "disconnectedAt": 1522613360
                  }
                ],
                "lldp": [
                  ["System name", "Some system name"],
                  ["System description", "Some system description"],
                  ["Port ID", "1"],
                  ["Chassis ID", "00:18:0a:00:00:00"],
                  ["Port description", "eth0"],
                  ["System capabilities", "Two-port MAC Relay"]
                ],
                "cdp": null
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id_or_mac_or_ip",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Clients"]
      }
    },
    "/networks/{networkId}/clients/provision": {
      "post": {
        "summary": "Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.",
        "description": "Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X POST --data-binary '{\"mac\":\"00:11:22:33:44:55\",\"name\":\"Miles's phone\",\"devicePolicy\":\"Group policy\",\"groupPolicyId\":\"101\"}' 'https://api.meraki.com/api/v0/networks/[networkId]/clients/provision'\n```",
        "operationId": "postNetworksNetworkidClientsProvision",
        "responses": {
          "201": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "mac": "00:11:22:33:44:55",
                "clientId": "k74272e",
                "name": "Miles's phone",
                "devicePolicy": "Group policy",
                "groupPolicyId": "101"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "mac": {
                  "description": "The MAC address of the client. Required.",
                  "type": "string"
                },
                "name": {
                  "description": "The display name for the client. Optional. Limited to 255 bytes.",
                  "type": "string"
                },
                "devicePolicy": {
                  "description": "The policy to apply to the specified client. Can be Whitelisted, Blocked, Normal, and Group policy. Required.",
                  "type": "string"
                },
                "groupPolicyId": {
                  "description": "The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to \"Group policy\". Otherwise this is ignored.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Clients"]
      }
    },
    "/networks/{networkId}/clients/{id_or_mac_or_ip}/usageHistory": {
      "get": {
        "summary": "Return the client's daily usage history. Usage data is in kilobytes.",
        "description": "Return the client's daily usage history. Usage data is in kilobytes.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/clients/[id_or_mac_or_ip]/usageHistory'\n```",
        "operationId": "getNetworksNetworkidClientsId_or_mac_or_ipUsagehistory",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "sent": 500,
                  "received": 680,
                  "ts": 1518365681
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id_or_mac_or_ip",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Clients"]
      }
    },
    "/networks/{networkId}/clients/{id_or_mac_or_ip}/trafficHistory": {
      "get": {
        "summary": "Return the client's network traffic data over time. Usage data is in kilobytes. This endpoint requires detailed traffic analysis to be enabled on the Network-wide > General page.",
        "description": "Return the client's network traffic data over time. Usage data is in kilobytes. This endpoint requires detailed traffic analysis to be enabled on the Network-wide > General page.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/clients/[id_or_mac_or_ip]/trafficHistory'\n```",
        "operationId": "getNetworksNetworkidClientsId_or_mac_or_ipTraffichistory",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "ts": 1518365681,
                  "application": "Google",
                  "destination": "www.google.com",
                  "protocol": "UDP",
                  "port": 443,
                  "recv": 383,
                  "sent": 56,
                  "numFlows": 5,
                  "activeSeconds": 240
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id_or_mac_or_ip",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "perPage": {
                  "description": "The number of entries per page returned",
                  "type": "string"
                },
                "startingAfter": {
                  "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, next or prev page in the HTTP Link header should define it.",
                  "type": "string"
                },
                "endingBefore": {
                  "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, next or prev page in the HTTP Link header should define it.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Clients"]
      }
    },
    "/networks/{networkId}/clients/{id_or_mac_or_ip}/events": {
      "get": {
        "summary": "Return the events associated with this client.",
        "description": "Return the events associated with this client.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/clients/[id_or_mac_or_ip]/events'\n```",
        "operationId": "getNetworksNetworkidClientsId_or_mac_or_ipEvents",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "deviceSerial": "Q234-ABCD-5678",
                  "occurredAt": 1518365681,
                  "type": "l3roaming_assoc_start",
                  "details": {
                    "vap": "1",
                    "on_packet": "true"
                  }
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id_or_mac_or_ip",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "perPage": {
                  "description": "The number of entries per page returned",
                  "type": "string"
                },
                "startingAfter": {
                  "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, next or prev page in the HTTP Link header should define it.",
                  "type": "string"
                },
                "endingBefore": {
                  "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, next or prev page in the HTTP Link header should define it.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Clients"]
      }
    },
    "/networks/{networkId}/clients/{id_or_mac_or_ip}/latencyHistory": {
      "get": {
        "summary": "Return the latency history for a client. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background, best effort, video, voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds.",
        "description": "Return the latency history for a client. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background, best effort, video, voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/clients/[id_or_mac_or_ip]/latencyHistory?timespan=7200'\n```",
        "operationId": "getNetworksNetworkidClientsId_or_mac_or_ipLatencyhistory",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id_or_mac_or_ip",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "timespan": {
                  "description": "The timespan in seconds for the data",
                  "type": "string"
                },
                "t0": {
                  "description": "The start time, in seconds from epoch, for the data",
                  "type": "string"
                },
                "t1": {
                  "description": "The end time, in seconds from epoch, for the data",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Clients"]
      }
    },
    "/networks/{networkId}/clients/{mac}/policy": {
      "get": {
        "summary": "Return the policy assigned to a client on the network.",
        "description": "Return the policy assigned to a client on the network.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/clients/[mac]/policy?timespan=7200'\n```",
        "operationId": "getNetworksNetworkidClientsMacPolicy",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "mac": "00:11:22:33:44:55",
                "type": "Group policy",
                "groupPolicyId": "101"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "mac",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "timespan": {
                  "description": "The timespan for which clients will be fetched. Must be in seconds and less than or equal to a month (2592000 seconds).",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Clients"]
      },
      "put": {
        "summary": "Update the policy assigned to a client on the network.",
        "description": "Update the policy assigned to a client on the network.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"mac\":\"00:11:22:33:44:55\",\"type\":\"Group policy\",\"groupPolicyId\":\"101\"}' 'https://api.meraki.com/api/v0/networks/[networkId]/clients/[mac]/policy'\n```",
        "operationId": "putNetworksNetworkidClientsMacPolicy",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "mac": "00:11:22:33:44:55",
                "type": "Group policy",
                "groupPolicyId": "101"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "mac",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "devicePolicy": {
                  "description": "The group policy (Whitelisted, Blocked, Normal, Group policy)",
                  "type": "string"
                },
                "groupPolicyId": {
                  "description": "[optional] If devicePolicy param is set to 'Group policy' this param is used to specify the group ID.",
                  "type": "string"
                },
                "timespan": {
                  "description": "The timespan for which clients will be fetched. Must be in seconds and less than or equal to a month (2592000 seconds).",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Clients"]
      }
    },
    "/networks/{id}/clients/{mac}/splashAuthorizationStatus": {
      "get": {
        "summary": "Return the splash authorization for a client, for each SSID they've associated with through splash.",
        "description": "Return the splash authorization for a client, for each SSID they've associated with through splash.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[id]/clients/[mac]/splashAuthorizationStatus'\n```",
        "operationId": "getNetworksIdClientsMacSplashauthorizationstatus",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "ssids": {
                  "0": {
                    "isAuthorized": true,
                    "authorizedAt": "2017-07-19 16:24:13 UTC",
                    "expiresAt": "2017-07-20 16:24:13 UTC"
                  },
                  "2": {
                    "isAuthorized": false
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "mac",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Clients"]
      },
      "put": {
        "summary": "Update a client's splash authorization.",
        "description": "Update a client's splash authorization.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"ssids\":{\"0\":{\"isAuthorized\":true,\"authorizedAt\":\"2017-07-19 16:24:13 UTC\",\"expiresAt\":\"2017-07-20 16:24:13 UTC\"},\"2\":{\"isAuthorized\":false}}}' 'https://api.meraki.com/api/v0/networks/[id]/clients/[mac]/splashAuthorizationStatus'\n```",
        "operationId": "putNetworksIdClientsMacSplashauthorizationstatus",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "ssids": {
                  "0": {
                    "isAuthorized": true,
                    "authorizedAt": "2017-07-19 16:24:13 UTC",
                    "expiresAt": "2017-07-20 16:24:13 UTC"
                  },
                  "2": {
                    "isAuthorized": false
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "mac",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "ssids": {
                  "description": "The target SSIDs. For each SSID where isAuthorized is true, the expiration time will automatically be set according to the SSID's splash frequency.",
                  "type": "object",
                  "properties": {
                    "isAuthorized": {
                      "description": "New authorization status for SSID (true, false).",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ],
        "tags": ["Clients"]
      }
    },
    "/organizations/{organizationId}/configTemplates": {
      "get": {
        "summary": "List the configuration templates for this organization",
        "description": "List the configuration templates for this organization\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/organizations/[organizationId]/configTemplates'\n```",
        "operationId": "getOrganizationsOrganizationidConfigtemplates",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "id": "N_24329156",
                  "name": "My config template"
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Config templates"]
      }
    },
    "/organizations/{organizationId}/configTemplates/{id}": {
      "delete": {
        "summary": "Remove a configuration template",
        "description": "Remove a configuration template\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X DELETE 'https://api.meraki.com/api/v0/organizations/[organizationId]/configTemplates/[id]'\n```",
        "operationId": "deleteOrganizationsOrganizationidConfigtemplatesId",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Config templates"]
      }
    },
    "/networks/{networkId}/devices": {
      "get": {
        "summary": "List the devices in a network",
        "description": "List the devices in a network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/devices'\n```",
        "operationId": "getNetworksNetworkidDevices",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "name": "My AP",
                  "lat": 37.4180951010362,
                  "lng": -122.098531723022,
                  "serial": "Q234-ABCD-5678",
                  "mac": "00:11:22:33:44:55",
                  "model": "MR34",
                  "address": "1600 Pennsylvania Ave",
                  "notes": "My AP's note",
                  "lanIp": "1.2.3.4",
                  "tags": " recently-added ",
                  "networkId": "N_24329156",
                  "beaconIdParams": {
                    "uuid": "00000000-0000-0000-0000-000000000000",
                    "major": 5,
                    "minor": 3
                  }
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Devices"]
      }
    },
    "/networks/{networkId}/devices/{serial}": {
      "get": {
        "summary": "Return a single device",
        "description": "Return a single device\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/devices/[serial]'\n```",
        "operationId": "getNetworksNetworkidDevicesSerial",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "name": "My AP",
                "lat": 37.4180951010362,
                "lng": -122.098531723022,
                "serial": "Q234-ABCD-5678",
                "mac": "00:11:22:33:44:55",
                "model": "MR34",
                "address": "1600 Pennsylvania Ave",
                "notes": "My AP's note",
                "lanIp": "1.2.3.4",
                "tags": " recently-added ",
                "networkId": "N_24329156",
                "beaconIdParams": {
                  "uuid": "00000000-0000-0000-0000-000000000000",
                  "major": 5,
                  "minor": 3
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Devices"]
      },
      "put": {
        "summary": "Update the attributes of a device",
        "description": "Update the attributes of a device\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"name\":\"My AP\",\"lat\":37.4180951010362,\"lng\":-122.098531723022,\"serial\":\"Q234-ABCD-5678\",\"mac\":\"00:11:22:33:44:55\",\"tags\":\" recently-added \"}' 'https://api.meraki.com/api/v0/networks/[networkId]/devices/[serial]'\n```",
        "operationId": "putNetworksNetworkidDevicesSerial",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "name": "My AP",
                "lat": 37.4180951010362,
                "lng": -122.098531723022,
                "serial": "Q234-ABCD-5678",
                "mac": "00:11:22:33:44:55",
                "model": "MR34",
                "address": "1600 Pennsylvania Ave",
                "notes": "My AP's note",
                "lanIp": "1.2.3.4",
                "tags": " recently-added ",
                "networkId": "N_24329156",
                "beaconIdParams": {
                  "uuid": "00000000-0000-0000-0000-000000000000",
                  "major": 5,
                  "minor": 3
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of a device",
                  "type": "string"
                },
                "tags": {
                  "description": "The tags of a device",
                  "type": "string"
                },
                "lat": {
                  "description": "The latitude of a device",
                  "type": "string"
                },
                "lng": {
                  "description": "The longitude of a device",
                  "type": "string"
                },
                "address": {
                  "description": "The address of a device",
                  "type": "string"
                },
                "notes": {
                  "description": "The notes for the device. String. Limited to 255 characters.",
                  "type": "string"
                },
                "moveMapMarker": {
                  "description": "Whether or not to set the latitude and longitude of a device based on the new address. Only applies when lat and lng are not specified.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Devices"]
      }
    },
    "/networks/{networkId}/devices/{serial}/uplink": {
      "get": {
        "summary": "Return the uplink information for a device.",
        "description": "Return the uplink information for a device.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/devices/[serial]/uplink'\n```",
        "operationId": "getNetworksNetworkidDevicesSerialUplink",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "interface": "WAN 1",
                  "status": "Active",
                  "ip": "1.2.3.4",
                  "gateway": "1.2.3.5",
                  "publicIp": "123.123.123.1",
                  "dns": "8.8.8.8, 8.8.4.4",
                  "usingStaticIp": false
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Devices"]
      }
    },
    "/networks/{networkId}/devices/claim": {
      "post": {
        "summary": "Claim a device into a network",
        "description": "Claim a device into a network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X POST --data-binary '{\"serial\":\"Q234-ABCD-5678\"}' 'https://api.meraki.com/api/v0/networks/[networkId]/devices/claim'\n```",
        "operationId": "postNetworksNetworkidDevicesClaim",
        "responses": {
          "201": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "name": "My AP",
                "lat": 37.4180951010362,
                "lng": -122.098531723022,
                "serial": "Q234-ABCD-5678",
                "mac": "00:11:22:33:44:55",
                "model": "MR34",
                "address": "1600 Pennsylvania Ave",
                "notes": "My AP's note",
                "lanIp": "1.2.3.4",
                "tags": " recently-added ",
                "networkId": "N_24329156",
                "beaconIdParams": {
                  "uuid": "00000000-0000-0000-0000-000000000000",
                  "major": 5,
                  "minor": 3
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "serial": {
                  "description": "The serial of a device",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Devices"]
      }
    },
    "/networks/{networkId}/devices/{serial}/remove": {
      "post": {
        "summary": "Remove a single device",
        "description": "Remove a single device\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X POST 'https://api.meraki.com/api/v0/networks/[networkId]/devices/[serial]/remove'\n```",
        "operationId": "postNetworksNetworkidDevicesSerialRemove",
        "responses": {
          "204": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "name": "My AP",
                "lat": 37.4180951010362,
                "lng": -122.098531723022,
                "serial": "Q234-ABCD-5678",
                "mac": "00:11:22:33:44:55",
                "model": "MR34",
                "address": "1600 Pennsylvania Ave",
                "notes": "My AP's note",
                "lanIp": "1.2.3.4",
                "tags": " recently-added ",
                "networkId": "N_24329156",
                "beaconIdParams": {
                  "uuid": "00000000-0000-0000-0000-000000000000",
                  "major": 5,
                  "minor": 3
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["Devices"]
      }
    },
    "/networks/{networkId}/devices/{serial}/lldp_cdp": {
      "get": {
        "summary": "List LLDP and CDP information for a device",
        "description": "List LLDP and CDP information for a device\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/devices/[serial]/lldp_cdp?timespan=7200'\n```",
        "operationId": "getNetworksNetworkidDevicesSerialLldp_cdp",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": {
                "sourceMac": "00:11:22:33:44:55",
                "ports": {
                  "8": {
                    "cdp": {
                      "deviceId": "e0553d8cdf53",
                      "portId": "Port 10",
                      "address": "00:11:22:33:44:55",
                      "sourcePort": "8"
                    }
                  },
                  "12": {
                    "cdp": {
                      "deviceId": "e0553d8cdf53",
                      "portId": "Port 11",
                      "address": "00:11:22:33:44:55",
                      "sourcePort": "12"
                    },
                    "lldp": {
                      "systemName": "Meraki MS350-24X - Phineas",
                      "portId": "11",
                      "managementAddress": "00:11:22:33:44:55",
                      "sourcePort": "12"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "timespan": {
                  "description": "The timespan for which LLDP and CDP information will be fetched. Must be in seconds and less than or equal to a month (2592000 seconds). LLDP and CDP information is sent to the Meraki dashboard every 10 minutes. In instances where this LLDP and CDP information matches an existing entry in the Meraki dashboard, the data is updated once every two hours. Meraki recommends querying LLDP and CDP information at an interval slightly greater than two hours, to ensure that unchanged CDP / LLDP information can be queried consistently.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["Devices"]
      }
    },
    "/networks/{networkId}/devices/{serial}/lossAndLatencyHistory": {
      "get": {
        "summary": "Get the uplink loss percentage and latency in milliseconds for a wired network device.",
        "description": "Get the uplink loss percentage and latency in milliseconds for a wired network device.\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/{networkId}/devices/{serial}/lossAndLatencyHistory?uplink=wan1&ip=1.2.3.4&timespan=7200'\n```",
        "operationId": "getNetworksNetworkidDevicesSerialLossandlatencyhistory",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "integer",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 12 months from today."
          },
          {
            "type": "integer",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a max of 1 month after t0."
          },
          {
            "type": "integer",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and less than or equal to a month (2592000 seconds)."
          },
          {
            "type": "integer",
            "name": "resolution",
            "in": "query",
            "description": "The time resolution in seconds for returned data. The valid resolutions are 60, 600, 3600, 86400. The default is 60."
          },
          {
            "type": "string",
            "name": "uplink",
            "in": "query",
            "description": "The WAN uplink used to obtain the requested stats. Valid uplinks are wan1, wan2. The default is wan1."
          },
          {
            "type": "string",
            "name": "ip",
            "in": "query",
            "required": true,
            "description": "The destination IP used to obtain the requested stats. This is required."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "startTime": "2018-10-09T22:18:27Z",
                  "endTime": "2018-10-09T22:19:27Z",
                  "lossPercent": 5,
                  "latencyMs": 324
                },
                {
                  "startTime": "2018-10-09T22:19:27Z",
                  "endTime": "2018-10-09T22:20:27Z",
                  "lossPercent": 1,
                  "latencyMs": 43
                },
                {
                  "startTime": "2018-10-09T22:20:27Z",
                  "endTime": "2018-10-09T22:21:27Z",
                  "lossPercent": 0,
                  "latencyMs": 44
                }
              ]
            }
          }
        },
        "tags": ["Devices"]
      }
    },
    "/networks/{networkId}/cellularFirewallRules": {
      "get": {
        "summary": "Return the cellular firewall rules for an MX network",
        "description": "Return the cellular firewall rules for an MX network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/cellularFirewallRules'\n```",
        "operationId": "getNetworksNetworkidCellularfirewallrules",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "comment": "Allow TCP traffic to subnet with HTTP servers.",
                  "policy": "allow",
                  "protocol": "tcp",
                  "destPort": 443,
                  "destCidr": "192.168.1.0/24",
                  "srcPort": "Any",
                  "srcCidr": "Any",
                  "syslogEnabled": false
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["MX cellular firewall"]
      },
      "put": {
        "summary": "Update the cellular firewall rules of an MX network",
        "description": "Update the cellular firewall rules of an MX network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"rules\":[{\"comment\":\"Allow TCP traffic to subnet with HTTP servers.\",\"policy\":\"allow\",\"protocol\":\"tcp\",\"destPort\":443,\"destCidr\":\"192.168.1.0/24\",\"srcPort\":\"Any\",\"srcCidr\":\"Any\",\"syslogEnabled\":false}]}' 'https://api.meraki.com/api/v0/networks/[networkId]/cellularFirewallRules'\n```",
        "operationId": "putNetworksNetworkidCellularfirewallrules",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "comment": "Allow TCP traffic to subnet with HTTP servers.",
                  "policy": "allow",
                  "protocol": "tcp",
                  "destPort": 443,
                  "destCidr": "192.168.1.0/24",
                  "srcPort": "Any",
                  "srcCidr": "Any",
                  "syslogEnabled": false
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "rules": {
                  "description": "An ordered array of the firewall rules (not including the default rule)",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "comment": {
                        "description": "Description of the rule (optional)",
                        "type": "string"
                      },
                      "policy": {
                        "description": "'Allow' or 'Deny' traffic specified by this rule",
                        "type": "string"
                      },
                      "protocol": {
                        "description": "The type of protocol (must be 'tcp', 'udp', 'icmp' or 'any')",
                        "type": "string"
                      },
                      "srcPort": {
                        "description": "Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'",
                        "type": "string"
                      },
                      "srcCidr": {
                        "description": "Comma-separated list of source IP address(es) (in IP or CIDR notation), or 'any' (note: FQDN not supported for source addresses)",
                        "type": "string"
                      },
                      "destPort": {
                        "description": "Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'",
                        "type": "string"
                      },
                      "destCidr": {
                        "description": "Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'",
                        "type": "string"
                      },
                      "syslogEnabled": {
                        "description": "Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "tags": ["MX cellular firewall"]
      }
    },
    "/networks/{networkId}/l3FirewallRules": {
      "get": {
        "summary": "Return the L3 firewall rules for an MX network",
        "description": "Return the L3 firewall rules for an MX network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/l3FirewallRules'\n```",
        "operationId": "getNetworksNetworkidL3firewallrules",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "comment": "Allow TCP traffic to subnet with HTTP servers.",
                  "policy": "allow",
                  "protocol": "tcp",
                  "destPort": 443,
                  "destCidr": "192.168.1.0/24",
                  "srcPort": "Any",
                  "srcCidr": "Any",
                  "syslogEnabled": false
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["MX L3 firewall"]
      },
      "put": {
        "summary": "Update the L3 firewall rules of an MX network",
        "description": "Update the L3 firewall rules of an MX network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"rules\":[{\"comment\":\"Allow TCP traffic to subnet with HTTP servers.\",\"policy\":\"allow\",\"protocol\":\"tcp\",\"destPort\":443,\"destCidr\":\"192.168.1.0/24\",\"srcPort\":\"Any\",\"srcCidr\":\"Any\",\"syslogEnabled\":false}]}' 'https://api.meraki.com/api/v0/networks/[networkId]/l3FirewallRules'\n```",
        "operationId": "putNetworksNetworkidL3firewallrules",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "comment": "Allow TCP traffic to subnet with HTTP servers.",
                  "policy": "allow",
                  "protocol": "tcp",
                  "destPort": 443,
                  "destCidr": "192.168.1.0/24",
                  "srcPort": "Any",
                  "srcCidr": "Any",
                  "syslogEnabled": false
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "rules": {
                  "description": "An ordered array of the firewall rules (not including the default rule)",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "comment": {
                        "description": "Description of the rule (optional)",
                        "type": "string"
                      },
                      "policy": {
                        "description": "'Allow' or 'Deny' traffic specified by this rule",
                        "type": "string"
                      },
                      "protocol": {
                        "description": "The type of protocol (must be 'tcp', 'udp', 'icmp' or 'any')",
                        "type": "string"
                      },
                      "srcPort": {
                        "description": "Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'",
                        "type": "string"
                      },
                      "srcCidr": {
                        "description": "Comma-separated list of source IP address(es) (in IP or CIDR notation), or 'any' (note: FQDN not supported for source addresses)",
                        "type": "string"
                      },
                      "destPort": {
                        "description": "Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'",
                        "type": "string"
                      },
                      "destCidr": {
                        "description": "Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'",
                        "type": "string"
                      },
                      "syslogEnabled": {
                        "description": "Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)",
                        "type": "string"
                      }
                    }
                  }
                },
                "syslogDefaultRule": {
                  "description": "Log the special default rule (boolean value - enable only if you've configured a syslog server) (optional)",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["MX L3 firewall"]
      }
    },
    "/organizations/{organizationId}/vpnFirewallRules": {
      "get": {
        "summary": "Return the firewall rules for an organization's site-to-site VPN",
        "description": "Return the firewall rules for an organization's site-to-site VPN\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/organizations/[organizationId]/vpnFirewallRules'\n```",
        "operationId": "getOrganizationsOrganizationidVpnfirewallrules",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "comment": "Allow TCP traffic to subnet with HTTP servers.",
                  "policy": "allow",
                  "protocol": "tcp",
                  "destPort": 443,
                  "destCidr": "192.168.1.0/24",
                  "srcPort": "Any",
                  "srcCidr": "Any",
                  "syslogEnabled": false
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["MX VPN firewall"]
      },
      "put": {
        "summary": "Update firewall rules of an organization's site-to-site VPN",
        "description": "Update firewall rules of an organization's site-to-site VPN\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"rules\":[{\"comment\":\"Allow TCP traffic to subnet with HTTP servers.\",\"policy\":\"allow\",\"protocol\":\"tcp\",\"destPort\":443,\"destCidr\":\"192.168.1.0/24\",\"srcPort\":\"Any\",\"srcCidr\":\"Any\",\"syslogEnabled\":false}]}' 'https://api.meraki.com/api/v0/organizations/[organizationId]/vpnFirewallRules'\n```",
        "operationId": "putOrganizationsOrganizationidVpnfirewallrules",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "comment": "Allow TCP traffic to subnet with HTTP servers.",
                  "policy": "allow",
                  "protocol": "tcp",
                  "destPort": 443,
                  "destCidr": "192.168.1.0/24",
                  "srcPort": "Any",
                  "srcCidr": "Any",
                  "syslogEnabled": false
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "rules": {
                  "description": "An ordered array of the firewall rules (not including the default rule)",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "comment": {
                        "description": "Description of the rule (optional)",
                        "type": "string"
                      },
                      "policy": {
                        "description": "'Allow' or 'Deny' traffic specified by this rule",
                        "type": "string"
                      },
                      "protocol": {
                        "description": "The type of protocol (must be 'tcp', 'udp', 'icmp' or 'any')",
                        "type": "string"
                      },
                      "srcPort": {
                        "description": "Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'",
                        "type": "string"
                      },
                      "srcCidr": {
                        "description": "Comma-separated list of source IP address(es) (in IP or CIDR notation), or 'any' (FQDN not supported)",
                        "type": "string"
                      },
                      "destPort": {
                        "description": "Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'",
                        "type": "string"
                      },
                      "destCidr": {
                        "description": "Comma-separated list of destination IP address(es) (in IP or CIDR notation) or 'any' (FQDN not supported)",
                        "type": "string"
                      },
                      "syslogEnabled": {
                        "description": "Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)",
                        "type": "string"
                      }
                    }
                  }
                },
                "syslogDefaultRule": {
                  "description": "Log the special default rule (boolean value - enable only if you've configured a syslog server) (optional)",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["MX VPN firewall"]
      }
    },
    "/networks/{networkId}/ssids/{number}/l3FirewallRules": {
      "get": {
        "summary": "Return the L3 firewall rules for an SSID on an MR network",
        "description": "Return the L3 firewall rules for an SSID on an MR network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[networkId]/ssids/[number]/l3FirewallRules'\n```",
        "operationId": "getNetworksNetworkidSsidsNumberL3firewallrules",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "comment": "Allow TCP traffic to subnet with HTTP servers.",
                  "policy": "allow",
                  "protocol": "tcp",
                  "destPort": 443,
                  "destCidr": "192.168.1.0/24"
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "number",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "tags": ["MR L3 firewall"]
      },
      "put": {
        "summary": "Update the L3 firewall rules of an SSID on an MR network",
        "description": "Update the L3 firewall rules of an SSID on an MR network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X PUT --data-binary '{\"rules\":[{\"comment\":\"Allow TCP traffic to subnet with HTTP servers.\",\"policy\":\"allow\",\"protocol\":\"tcp\",\"destPort\":443,\"destCidr\":\"192.168.1.0/24\"}]}' 'https://api.meraki.com/api/v0/networks/[networkId]/ssids/[number]/l3FirewallRules'\n```",
        "operationId": "putNetworksNetworkidSsidsNumberL3firewallrules",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "comment": "Allow TCP traffic to subnet with HTTP servers.",
                  "policy": "allow",
                  "protocol": "tcp",
                  "destPort": 443,
                  "destCidr": "192.168.1.0/24"
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "number",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "rules": {
                  "description": "An ordered array of the firewall rules for this SSID (not including the local LAN access rule or the default rule)",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "policy": {
                        "description": "'Allow' or 'Deny' traffic specified by this rule",
                        "type": "string"
                      },
                      "protocol": {
                        "description": "The type of protocol (must be 'tcp', 'udp', 'icmp' or 'any')",
                        "type": "string"
                      },
                      "destPort": {
                        "description": "Comma-separated list of destination port(s) (integer in the range 1-65535) or 'any'",
                        "type": "string"
                      },
                      "destCidr": {
                        "description": "Comma-separated list of destination IP address(es) (in IP or CIDR notation) or 'any'",
                        "type": "string"
                      },
                      "comment": {
                        "description": "Description of the rule (optional)",
                        "type": "string"
                      }
                    }
                  }
                },
                "allowLanAccess": {
                  "description": "Allow wireless client access to local LAN (boolean value - true allows access and false denies access) (optional)",
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": ["MR L3 firewall"]
      }
    },
    "/networks/{id}/groupPolicies": {
      "get": {
        "summary": "List the group policies in a network",
        "description": "List the group policies in a network\n\n## SAMPLE REQUEST\n\n```\ncurl -L -H 'X-Cisco-Meraki-API-Key: <key>' -H 'Content-Type: application/json' -X GET 'https://api.meraki.com/api/v0/networks/[id]/groupPolicies'\n```",
        "operationId": "getNetworksIdGrouppolicies",
        "responses": {
          "200": {
            "description": "Successful operation",
            "examples": {
              "application/json": [
                {
                  "name": "No video streaming",
                  "groupPolicyId": "101"
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
[...]
